Flask==0.10.1
Flask-Login==0.2.10
Jinja2==2.7.2
MarkupSafe==0.19
Werkzeug==0.9.4
bcrypt==1.0.2
cffi==0.8.2
feedparser==5.1.3
itsdangerous==0.23
mistune==0.2.0
pycparser==2.10
pymongo==2.6.3
pytz==2014.1
whitenoise==0.13
