body {
	background-color: #e5f4f7;
	color: #2c4f52;
	font-family: "kepler-std-extended", georgia, serif;
}
h1, h2, h3, h4, h5, h6 {
	color: #2c4f52;
}
h2 {
	text-align: center;
	font-family: "kepler-std-extended", georgia, serif;
	color: #fff;
	font-weight: 300;
	font-style: italic;
}
p{
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
	color: #8fba3e;
}
a:hover, a:focus {
	color: #568c49;
}
header {
	padding-top: 15px;
}
.meta-nav {
	list-style-type: none;
	margin-right: 20px;
	font-family: 'helvetica neue', arial, sans-serif;
}
.meta-nav li {
	display: inline;
	margin: 0 10px;
	font-size: 1rem;
}
.meta-nav a {
	color: #2c4f52;
}
.meta-nav a:hover, .meta-nav a:focus {
	color: #568c49;
}

/* MAIN NAV */

.main-nav.contain-to-grid {
	z-index: 100;
	position: relative;
}
.contain-to-grid .top-bar {
	height: 72px;
	margin-top: -20px;
}
.top-bar, .contain-to-grid, .top-bar ul, .top-bar-section li:not(.has-form) a:not(.button) {
	background: #c5e4ea;
	color: #2c4f52;
	font-size: 1.25rem;
	font-weight: 200;
	line-height: 72px;
	-webkit-transition: background-color 300ms ease-out;
	-moz-transition: background-color 300ms ease-out;
	transition: background-color 300ms ease-out;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
	color: #fff;
	background: rgba(171, 199, 55, 1); /* medium green - RGBA */
}
.top-bar-section li.active:not(.has-form) a:not(.button), .top-bar-section li.active:not(.has-form) a:not(.button):hover {
	background: rgba(171, 199, 55, 1); /* medium green - RGBA */
	font-size: 1.25rem;
	font-weight: 200;
	line-height: 72px;
}

.logo, .logo h1 {
	background: url('../img/mpt-logo.png')center center no-repeat;
	display: block;
	text-indent: -9999em;
	width: 360px;
	height: 99px;
	position: relative;
	z-index: 200;
}


/* ALTERNATE Main Nav - for small screens*/

.top-bar .toggle-topbar.menu-icon
.top-bar .toggle-topbar.menu-icon{
	display: block;
	float: right;
	position: absolute;
}
.show-for-small .title-area li {
	display: inline-block;
}
.contain-to-grid .top-bar.expanded {
	height: auto; /* keeps menu from collapsing on itself */
}
.top-bar .title-area {
	padding-left: 0.9375rem;
}
.top-bar.expanded .title-area {
	background: #2c4f52;
	line-height: 72px;
}
.top-bar.expanded, .top-bar.expanded .contain-to-grid, .top-bar.expanded ul, .top-bar.expanded .top-bar-section li:not(.has-form) a:not(.button){
	line-height: 45px;
}
.top-bar .toggle-topbar.menu-icon a, .top-bar.expanded .toggle-topbar.menu-icon a  {
	color: #8fba3e;
	font-size: 1rem;
	line-height: 31px;
}
.top-bar .toggle-topbar.menu-icon a::after {
	-webkit-box-shadow: 0 10px 0 1px #8fba3e, 0 16px 0 1px #8fba3e, 0 22px 0 1px #8fba3e;
	box-shadow: 0 10px 0 1px #8fba3e, 0 16px 0 1px #8fba3e, 0 22px 0 1px #8fba3e;
}
.top-bar .toggle-topbar.menu-icon a:hover, .top-bar .toggle-topbar.menu-icon a:focus {
	color: #568c49;
	font-size: 1rem;
	line-height: 31px;
}
.top-bar .toggle-topbar.menu-icon a:hover::after, .top-bar .toggle-topbar.menu-icon a:focus::after  {
	-webkit-box-shadow: 0 10px 0 1px #568c49, 0 16px 0 1px #568c49, 0 22px 0 1px #568c49;
	box-shadow: 0 10px 0 1px #568c49, 0 16px 0 1px #568c49, 0 22px 0 1px #568c49;
}
.top-bar.expanded .meta-nav a {
	color: #fff;
}
.top-bar.expanded .meta-nav a:hover, .top-bar.expanded .meta-nav a:focus {
	color: #8fba3e;
}
.top-bar.expanded .toggle-topbar.menu-icon a:hover, .top-bar.expanded .toggle-topbar.menu-icon a:focus {
	color: #568c49;
	font-size: 1rem;
	line-height: 31px;
}
.top-bar.expanded .toggle-topbar.menu-icon a:hover::after, .top-bar.expanded .toggle-topbar.menu-icon a:focus::after  {
	-webkit-box-shadow: 0 10px 0 1px #568c49, 0 16px 0 1px #568c49, 0 22px 0 1px #568c49;
	box-shadow: 0 10px 0 1px #568c49, 0 16px 0 1px #568c49, 0 22px 0 1px #568c49;
}



/* Footer */

footer {
	background-color: #c5e4ea;
	padding-top: 40px;
	padding-bottom: 40px;
}
.partner-logos {
	list-style-type: none;
	text-align: center;
}
.partner-logos li {
	display: inline-block;
	margin: 20px;
}
footer h3 {
	text-align: center;
	font-family: "kepler-std-extended", georgia, serif;
	font-weight: 200;
	font-style: italic;
	margin-bottom: 3.5rem;
}


/* Homepage */

.home h2{
	font-family: 'helvetica neue', arial, sans-serif;
	font-size: 1.5rem;
	font-weight: 200;
	margin-top: 0;
	color: #2c4f52;
	text-align: left;
}
.home h2 em {
	font-weight: 400;
}
.home .hero {
	background: url(../img/envelope_money_2844.jpg) center top no-repeat;
	padding-top: 130px;
	padding-bottom: 80px;
	margin-top: -45px;
}
.mission {
	background: -moz-linear-gradient(left,  rgba(229,244,247,0.9) 0%, rgba(229,244,247,0.9) 1%, rgba(229,244,247,0.9) 33%, rgba(197,228,234,0.9) 33.1%, rgba(197,228,234,0.9) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(229,244,247,0.9)), color-stop(1%,rgba(229,244,247,0.9)), color-stop(33%,rgba(229,244,247,0.9)), color-stop(33.1%,rgba(197,228,234,0.9)), color-stop(100%,rgba(197,228,234,0.9))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(229,244,247,0.9) 0%,rgba(229,244,247,0.9) 1%,rgba(229,244,247,0.9) 33%,rgba(197,228,234,0.9) 33.1%,rgba(197,228,234,0.9) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(229,244,247,0.9) 0%,rgba(229,244,247,0.9) 1%,rgba(229,244,247,0.9) 33%,rgba(197,228,234,0.9) 33.1%,rgba(197,228,234,0.9) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(229,244,247,0.9) 0%,rgba(229,244,247,0.9) 1%,rgba(229,244,247,0.9) 33%,rgba(197,228,234,0.9) 33.1%,rgba(197,228,234,0.9) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(229,244,247,0.9) 0%,rgba(229,244,247,0.9) 1%,rgba(229,244,247,0.9) 33%,rgba(197,228,234,0.9) 33.1%,rgba(197,228,234,0.9) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e5f4f7', endColorstr='#e6c5e4ea',GradientType=1 ); /* IE6-9 */

}
.home .intro {
	padding: 20px 10px 20px 25px;
	margin: 0;
}
.home .extended-intro {
	font-family: "kepler-std-extended", georgia, serif;
	font-weight: 200;
	padding: 20px 25px 20px 10px;
	margin: 0;
}

/* GENERAL - social media */
.twitter {
	background: url(../img/twitter.png) left top no-repeat;
}
.twitter.color {
	background: url(../img/twitter-color.png) left top no-repeat;	
}
.facebook{
	background: url(../img/facebook.png) left top no-repeat;
}
.facebook.button, .twitter.button{
	background-position: 10px center;
}



/* HOME - social media */
.mpt-social-banner {
	background: -moz-linear-gradient(top,  rgba(248,228,11,1) 0%, rgba(248,228,11,1) 200px, rgba(248,228,11,0) 201px, rgba(248,228,11,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,228,11,1)), color-stop(200px,rgba(248,228,11,1)), color-stop(201px,rgba(248,228,11,0)), color-stop(100%,rgba(248,228,11,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(248,228,11,1) 0%,rgba(248,228,11,1) 200px,rgba(248,228,11,0) 201px,rgba(248,228,11,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(248,228,11,1) 0%,rgba(248,228,11,1) 200px,rgba(248,228,11,0) 201px,rgba(248,228,11,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(248,228,11,1) 0%,rgba(248,228,11,1) 200px,rgba(248,228,11,0) 201px,rgba(248,228,11,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(248,228,11,1) 0%,rgba(248,228,11,1) 200px,rgba(248,228,11,0) 201px,rgba(248,228,11,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8e40b', endColorstr='#00f8e40b',GradientType=0 ); /* IE6-9 */

}
.mpt-social-banner .follow {
	list-style-type: none;
	margin-top: -30px;
}
.mpt-social-banner .follow li {
	padding: 0;
}
.mpt-social-banner .follow li a{
	width: 100%;
	padding: 22px 0;
}
.button.twitter {
	background-color: #00aced;
}
.button.twitter:hover, .button.twitter:focus {
	background-color: #008cba;
}
.button.facebook {
	background-color: #3b5998;
}
.button.facebook:hover, .button.facebook:focus {
	background-color: #2f497e;
}

.mpt-tweets {
	background: rgb(143,186,62); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(143,186,62,1) 0%, rgba(143,186,62,1) 33%, rgba(171,199,55,1) 33.1%, rgba(171,199,55,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(143,186,62,1)), color-stop(33%,rgba(143,186,62,1)), color-stop(33.1%,rgba(171,199,55,1)), color-stop(100%,rgba(171,199,55,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(143,186,62,1) 0%,rgba(143,186,62,1) 33%,rgba(171,199,55,1) 33.1%,rgba(171,199,55,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(143,186,62,1) 0%,rgba(143,186,62,1) 33%,rgba(171,199,55,1) 33.1%,rgba(171,199,55,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(143,186,62,1) 0%,rgba(143,186,62,1) 33%,rgba(171,199,55,1) 33.1%,rgba(171,199,55,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(143,186,62,1) 0%,rgba(143,186,62,1) 33%,rgba(171,199,55,1) 33.1%,rgba(171,199,55,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fba3e', endColorstr='#abc737',GradientType=1 ); /* IE6-9 */
	color: #ecf5c6; /* light green */
	font-family: 'helvetica neue', arial, sans-serif;

}
.mpt-tweets .twitter {
	background-position: 20px 18px;
	padding-left: 60px;
}
.mpt-tweets a, .community-tweets a {
	color: #fff;
}
.mpt-tweets>div {
	padding: 20px;
}
.community-tweets>div {
	padding: 20px;
}
.community-tweets {
	background: rgb(108,154,159); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(108,154,159,1) 0%, rgba(108,154,159,1) 33%, rgba(61,149,173,1) 33.1%, rgba(61,149,173,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(108,154,159,1)), color-stop(33%,rgba(108,154,159,1)), color-stop(33.1%,rgba(61,149,173,1)), color-stop(100%,rgba(61,149,173,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(108,154,159,1) 0%,rgba(108,154,159,1) 33%,rgba(61,149,173,1) 33.1%,rgba(61,149,173,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(108,154,159,1) 0%,rgba(108,154,159,1) 33%,rgba(61,149,173,1) 33.1%,rgba(61,149,173,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(108,154,159,1) 0%,rgba(108,154,159,1) 33%,rgba(61,149,173,1) 33.1%,rgba(61,149,173,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(108,154,159,1) 0%,rgba(108,154,159,1) 33%,rgba(61,149,173,1) 33.1%,rgba(61,149,173,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c9a9f', endColorstr='#3d95ad',GradientType=1 ); /* IE6-9 */
	color: #daf2f7; /* light blue */
	font-family: 'helvetica neue', arial, sans-serif;
}
.community-tweets .twitter {
	background-position: 3px 1px;
	padding-left: 43px;
	font-size: 18px;
	color: #daf2f7; /* light blue */
	display: block;
	height: 32px;
	padding-top: 4px;
}

.community-tweets .medium-8 p{
	font-size: 14px;
}
.community-tweet {
	padding: 0 20px 0 0;
}


/* HOME - blog posts */
.blog {
	background-color: #f1f9fb;
	padding: 80px 0;
}
article, section {
	margin-bottom: 40px;
}
article header, section header {
	background: #abc737; /* medium green */
	border-left: 0.9375rem solid #8fba3e; /* dark green */
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 8.33333% !important;
	margin-right: 8.33333% !important;
	margin-bottom: 20px;
}
article h1, section h1 {
	font-size: 24px;
	font-weight: 200;
	margin: 0;
}
article header h1, article header a, section header h1, section header a {
	color: #fff;
}
article header p, section header p {
	font-family: 'helvetica neue', arial, sans-serif;
	margin: 0;
	font-weight: 200;
}
article p, section p {
	font-family: "kepler-std-extended", georgia, serif;
	font-weight: 200;
}


/* SECONDARY PAGES - structure*/
.row.page-content .row {
	margin-left: auto;
	margin-right: auto;
}

.page-content {
	background-color: #f1f9fb;
	padding-top: 80px;
	padding-bottom: 80px;
}
.page-content:after{
	clear: both;
}
.page-header {
	background: rgba(171, 199, 55, 1);
}
.page-header .row{
	position: relative;
}
.page-header h2 {
	margin: 0 auto;
	margin-top: 9px;
}
.mpt-content-area {
	min-height: 500px;
}
.mpt-content-area figure.full-width {
	background: #ffffff;
	margin: 30px -6.17rem 30px -6.17rem;
	display: block;
}
.mpt-content-area figure.left {
	margin: 0 30px 30px -6.17rem;
	display: block;
}
.mpt-content-area figure.left img, .mpt-content-area figure.left figcaption {
	padding: 0 30px 0 30px ;
}
.mpt-content-area figure.full-width img, .mpt-content-area figure.full-width figcaption {
	padding: 30px 4.9375rem;
}
.mpt-content-area figure.full-width figcaption, .mpt-content-area figure.left figcaption{
	background: #c5e4ea;
}
.mpt-content-area ul {
	color: #2c4f52;
	margin: 20px 70px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.mpt-content-area ul li {
	margin-bottom: 10px;
}



/* SECONDARY PAGES - social media */

.mpt-content-area ul.share {
	list-style-type: none;
	float: right;
	margin: 0;
	margin-bottom: 0;
}
.mpt-content-area .share li {
	float: left;
	font-weight: 200;
	margin-bottom: 0;
}
.share a.button {
	line-height: 33px;
	margin-bottom: 0;
	padding-left: 52px;
}
.share li a:after {
	clear: both;
}

/* RESOURCES Styles */
.mpt-resources-section-3-container, .mpt-resources-section-4-container {
	padding-left: 9.75% !important;
	margin-right: 9.75% !important;
}
.mpt-resources-section-3-container {
	margin-bottom: 80px;
}

.mpt-resources-section-4-container {
	margin-bottom: 0; 
}
.mpt-content-area .mpt-resources-content ul {
	margin: 0;
	list-style: none;
}
.mpt-content-area .mpt-resources-content ul li{
	margin-bottom: 10px;
    padding-left: 0;
}
.mpt-content-area .mpt-resources-content ul li a{
	font-family: Helvetica Neue, sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #2c4f52;
    border-bottom: 1px dotted #8fba3e; /* dark green */
    text-decoration: none;
    text-rendering: optimizeLegibility;
}
.mpt-resources-content ul li a:hover, .mpt-resources-content ul li a:active {
	color: #8fba3e; /* dark green */
}
.mpt-resources-content ul li p {
	font-size: 1rem;
}
.mpt-resources-content .cols-2 li p, .mpt-resources-content .cols-3 li p {
	line-height: 1.47;
}
.mpt-resources-section-1-container {
	margin-left: 9.6% !important;
	margin-right: 9.6% !important;
	margin-bottom: 80px;
	float: left; 
	clear: both;
}
.mpt-resources-content ul li .country-name {
	display: inline-block;
	font-family: Helvetica Neue, sans-serif;
	font-weight: 300;
	font-size: .93rem;
	padding-bottom: 10px;
	text-rendering: optimizeLegibility;
}
.mpt-resources-header {
	margin-left: -15px;
}
.mpt-resources-section-2-container li {
	float: left;
}
#video-elements-3 {
	margin-top: -60px;
}
.video-box {
	display: inline-block;
	background-color: #0099ae;
	width: 60%;
	padding: 25px 15px 0 15px;
	margin-bottom: 50px;
}
.video-title {
	font-family: Helvetica Neue, sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 18px;
	color: white;
}
.date {
	font-size: 11px;
	font-family: Georgia;
	color: white;
}
.link-box {
	background-color: #217683;
	padding: 1px 0 3px 15px;
	margin-right: -15px;
	margin-left: -15px;
}
.video-box a {
	text-decoration: none;
}
.video-box a:hover .link-box {
	background-color: rgba(33, 118, 131, 0.5); 
	-webkit-transition: background-color 300ms ease-out;
	-moz-transition: background-color 300ms ease-out;
	-o-transition: background-color 300ms ease-out;
}
.video-box a:hover .video-link {
	color: #abc737; /* medium green */
	-webkit-transition: color 300ms;
	-moz-transition: color 300ms;
	-o-transition: color 300ms;
}
.video-link {
	font-family: Helvetica Neue, sans-serif;
	color: #8fba3e; /* dark green */
	font-size: 11px;
	font-weight: 500;
}
.mpt-resources-section-2-container img {
	display: inline-block;
	width: 38%;
	opacity: 1.0;
	-webkit-transition: opacity 300ms ease-out;
    -moz-transition: opacity 300ms ease-out;
	float: left;
} 
.mpt-resources-section-2-container img:hover {
	opacity: 0.75;
}
.mpt-resources-content .cols-2.mpt-resources-column {
	padding-bottom: 30px;
}
.cols-2 {
	-webkit-column-count: 2;
	-moz-column-count: 2;
    -webkit-column-gap: 40px; 
	-moz-column-gap: 40px;
}
.cols-2 li, .cols-3 li {
	-webkit-column-break-inside: avoid;
	column-break-inside: avoid;
	-moz-column-break-inside: avoid;
}
.cols-3 {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	-webkit-column-gap: 30px;
	-moz-column-gap: 30px;
}
.mpt-content-area .mpt-resources-section-3-container h4 {
	display: inline-block;
}
.mpt-content-area .mpt-resources-content .cols-3 li{
	display: inline-block;
	margin-bottom: 30px;
}
.mpt-content-area .mpt-resources-content .cols-2 li {
	display: inline-block;
}
/*
 .header-divider {
	border-top: 30px solid rgba(248,228,11,1);
	border-top-width: 30px;
	border-top-style: solid;
	border-top-color: rgb(248, 228, 11);
	padding-top: 30px;
} */
/* ABOUT STYLES */
.mpt-content-area .reference-group {
	margin-top: 60px;	
}

.mpt-content-area .reference-group ul {
	list-style-type: none;
	margin-left: 0;
	margin-right: 0;
}
.mpt-content-area .reference-group li.row {
	margin-bottom: 50px;
}
.reference-group-bios img {
	border-top: 30px solid rgba(248,228,11,1);
	margin-top: 4px;
}
.mpt-content-area .reference-group-index {
	border-top: 30px solid rgba(248,228,11,1);
	padding-top: 30px;
	margin-bottom: 60px;
}
.mpt-content-area .reference-group-index a {
	display: block;
}
.mpt-content-area .reference-group-index h5{
	background: rgba(255,255,255,.8);
	margin-top: -14px;
	position: relative;
	padding: 20px 5px 10px 5px;
}
.mpt-content-area .reference-group-index li:hover {
	opacity: 0.8;
}

/* NETWORKING STYLES */
.get-involved .twitter {
	padding-left: 30px;
	background-size: 27px;
}
ul.mpt-related-orgs {
	margin: 0 0 0 0;
	list-style-type: none;
}
.event {
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: 'helvetica neue', arial, sans-serif;
}
.event dl {
	font-size: .93rem;
}
.event dd{
	margin-bottom: 2rem;
}
.event-details {
	margin-bottom: 0;
}
.event dl dt {
	display: none;
}
.event.next {
	background-color: rgba(171, 199, 55, 1);
	color: #ecf5c6; /* light green */
	padding-top: 35px;
	padding-bottom: 35px;
	text-align: center;
}
.event.next  a {
	color: #ffffff;
}
.event.next  a:hover {
	color: #568c49;
}

.next-other {
	background-color: #c5e4ea;
}
.next-other .event {
	background-color: #c5e4ea;
	margin-top: 20px;
}
.event .date {
	margin-bottom: 0;
	text-transform: uppercase;
}
.event .title {
	font-family: 'helvetica neue', arial, sans-serif;
	margin-bottom: 5px;
	font-size: 1.4rem;
	line-height: 1.4rem;
}
.event .host {
	margin-bottom: 0;
	line-height: 1.2rem;
}
.event .eventlink {
	margin-bottom: 0;
}
.event.next dl {
	font-size: 1.2rem;
}
.event.next .title{
	font-size: 1.6rem;
	line-height: 1.6rem;
}
.more-events {
	padding-top: 30px;
}
.more-events ul {
	margin: 0;
}
.more-events ul li.event {
	margin-bottom: 0;
	padding: 1.25rem 0.625rem ;
}
.more-events li:nth-child(odd) {
    background-color: #e5f4f7;
}





/* MEDIA QUERIES - for style changes*/


// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) {

		/* Removes gradient faux columns and replaces with standard background colors when layout shifts*/
		.mission, .mpt-tweets, .community-tweets  {
			background: none;
		}
		.mission .intro {
			background: rgba(229,244,247,0.9);
			padding: 20px 10px 20px 25px;
		}
		.mission .extended-intro {
			background: rgba(197,228,234,0.9);
			padding: 20px 10px 20px 25px;
		}
		.mpt-tweets .medium-4 {
			background: #8fba3e; /* dark green */
		}
		.mpt-tweets .medium-8 {
			background: #abc737; /* medium green */
		}
		.community-tweets .medium-4 {
			background: #6c9a9f; /* dark blue */
		}
		.community-tweets .medium-8 {
			background: #3d95ad; /* medium green */
		}
		.page-content {
			padding-top: 40px;
			padding-bottom: 40px;
		}
		.home .mpt-content-area {
			margin-top: -20px;
		}
		.mpt-content-area {
			margin-top: 20px;
			padding:  40px 0 0 0;
		}
		.logo {
			margin-top: -16px;
		}
		.home .hero {
			background-position: center top;
			padding-top: 70px;
		}
		.page-header {
			margin-top: -85px;
		}
		.home .hero {
			background: url(../img/envelope_money_640.jpg) center bottom no-repeat;
		}
		.share a.button {
			text-indent: -9999em;
			padding-left: 1.75rem;
		}
		.page-header h2 {
			margin-top: 20px;
			text-align: left;
		}
		.logo, .logo h1{
			background: url('../img/mpt-logo-small.png')center center no-repeat;
			width: 250px;
			height: 79px;
		}
		#video-elements-2 {
		margin-top: 5px;
		}
		#video-elements-3 {
		margin-top: 5px;
		}		
		.mpt-resources-section-2-container li a img {
		width: 100%;
		}
		.video-box {
		width: 100%;
		}
		.cols-3, .cols-2 {
		-webkit-column-count: 1;
		-moz-column-count: 1;
}

	} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) {
		.top-bar-section li:not(.has-form) a:not(.button) {
			padding: 0 31px;
		}
	} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
		.home .hero {
			background-position: center -200px;
		}
		.home .hero {
			background: url(../img/envelope_money_1024.jpg) center bottom no-repeat;
		}
		#video-elements-3 {
		margin-top: -35px;
		}
		.mpt-resources-section-2-container li a img {
		width: 90%;
		}
		.video-box {
		width: 90%;
		}	
	} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { 
		
	} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { 
		.next-other {
			padding-left: 0;
		}
	} /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) {
		.next-other {
			padding-left: 0;
		}
 } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { 
		.next-other {
			padding-left: 0;
		}
	} /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { 
		.next-other {
			padding-left: 0;
		}
	} /* min-width 1921px, xlarge screens */

@media only screen and (min-width: 120.063em) and (max-width: 200em) { 
		.next-other {
			padding-left: 0;
		}
	} /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

