{% extends "base.html" %}

{% block content_title %}About{% endblock %}

{% block content %}
	<div class="row page-content clearfix">
		<div class="small-10 small-centered columns">
			<div class="editable" data-key="about">
				{{ content.about|safe }}
				{#
				<p>
					Money, Politics and Transparency aims to generate research, analysis, and global norms that civic organizations, elected officials, regulators, and the media can use to build more transparent political financing systems in any country.
				</p>
				<p>
					We know this is incredibly hard and sensitive work, but the importance of political financing in a country’s broader transparency and accountability framework has been overlooked for far too long. As “follow the money” increasingly becomes a mantra for encouraging the public to monitor how public financial resources are spent to deliver basic services, understanding how and whether the funding of political activities impacts things like clean water, basic education, or health services becomes essential.
				</p>
				<p>
					We aren’t naive. Political parties and candidates in any country need money to support their activities in both election and non-election years, and that’s ok. Whether that funding comes from public sources, private contributors, or both, the reality is that the financing of political activities throughout the world is often linked to actual corruption or the appearance of corruption. Political finance transparency is crucial to understanding the influence agenda in a country, to prevent or curtail violations of political finance laws, to uncover potential conflicts of interests, and to determine whether changes to a country’s system of political financing are required. Outside of the campaign and elections world, political finance transparency is crucial to addressing the problem of off-budget government expenditures and tendering scandals—particularly problematic in the extractives and defense sectors—that are too often the result of undisclosed political financing.
				</p>
				<p>
					Unfortunately, there is little systematic evidence around which we could collectively design reform efforts. Money, Politics, and Transparency will change that in three ways in our initial phase of work:
				</p>
				<ul>
					<li>
						By gathering data from fifty countries exploring, in granular detail, the current state of affairs with respect to political finance transparency and related regulatory safeguards, including actual implementation and enforcement of existing rules;
					</li>
					<li>
						By publishing in-depth case studies exploring the political-economy drivers of more and less effective political finance regulatory regimes, including transparency measures; and
					</li>
					<li>
						By building a global community of practitioners that will use that new information to identify possible global norms to guide future political finance transparency efforts.
					</li>
				</ul>
				<p>
					Money, Politics and Transparency is a collaboration between the Sunlight Foundation, Global Integrity and the Electoral Integrity Project and made possible by generous support from the Hewlett Foundation and Open Society Foundations. The Project’s Reference Group will be made up of political finance experts from around the world who will offer guidance and domain expertise to the design and execution of our work.
				</p>
				#}
			</div>
		</div>
	</div>
{% endblock %}