{% extends "base.html" %}

{% block content_title %}Case Studies{% endblock %}

{% block content %}
	<div class="row page-content clearfix">
		<div class="small-10 small-centered medium-7 medium-uncentered medium-offset-1 columns clearfix">
			
			<h4>Finding 1: The limited effect of legal regulations</h4>
			<p>Establishing a more equitable, transparent and inclusive political system is a long-term process that may require compromise on one or more normative dimensions. One should not expect to see immediate impact of legal reforms on societal outcomes such as corruption or voter confidence in the political process.</p>
			<h4>Finding 2: The most common reforms in recent years have sought to strengthen disclosure and public funding</h4>
			<p>During the last decade, landmark revisions have most often served to boost transparency to counter the risks of corruption, and provide resources to allow parties to deal with rising campaign costs and falling revenue from membership and voluntary fundraising, without relying solely on private donations.</p> 
			<h4>Finding 3: The effects of formal legal reforms are contingent upon regime type, state capacity and societal cultures</h4>
			<p>Theory, case studies and empirics conclude that there is no single ‘right’ mix of policies that fits countries with diverse institutional, cultural and economic parameters. The combinations of regulations that any country should adopt will depend on contextual factors, such as political culture and enforcement capacity.</p> 
			<h4>Finding 4: Mixed policy strategies work best</h4>
			<p>No single policy instrument is sufficient by itself to control money in politics. A balanced mix of regulatory policies is most effective, so that regulations blend a combination of disclosure and transparency requirements, limits on spending and contributions, and public subsidies to political parties.</p> 

		</div>
		<aside class="small-10 small-centered medium-uncentered medium-4 columns clearfix feature">
			<div class="case-study-format book">
				<div>
					<h4><a href="">Full case studies</a></h4>
					<p>
						Purchase the edited volume ‘Checkbook Elections’ to read about regulating money in politics, and access the full country case-studies. 
					</p>
				</div>
			</div>
			<div class="case-study-format pdf">
				<div>
					<h4><a href="">Summary PDF</a></h4>
					<p>
						Download the summary report to access abridged versions of the book chapters on regulating money in politics and country case-studies. 
					</p>
				</div>
			</div>
		</aside>
	
	<section>
		<div class="small-12 columns">
			<div class="row">
				<div class="mpt-resources-header clearfix">
					<header>
						<br><h1>Countries included in case studies work</h1><br>
					</header>
				</div>
			</div>
		</div>
		<div class="row">
				<ul class="columns small-12 medium-5 small-offset-1 casestudies">
					<li>
						<h3>Britain</h3>
						<p class="sub-header">Find more in the <a href="">PDF</a>/<a href="">Book</a></p>
						<p>
							Several principles have traditionally characterized British party finance: campaign spending ceilings for candidates rather than public funding of political parties, voluntarism in party income, and a general lack of regulation.  Britain has traditionally offered its parties little state assistance but recent reforms have altered the campaign finance system.
						</p>
					</li>
					<li>
						<h3>India</h3>
						<p class="sub-header">Find more in the <a href="">PDF</a>/<a href="">Book</a></p>
						<p>
							The Indian state’s strong involvement in the economy, together with costly elections, generates shadowy links among business, the criminal underworld, and politicians, exacerbating corruption. Despite gains in transparency, the current state of India’s political finance regime is deeply problematic, eroding the quality of democracy. 
						</p>
					</li>
					<li>
						<h3>Italy</h3>
						<p class="sub-header">Find more in the <a href="">PDF</a></p>
						<p>
							Italy’s political finance system illustrates a reactive and collusive regime, which abolished state subsidies, making Italy one of two members of the European Union to not extend public funding. Since 1974 Italy has seen fragmented legislative initiatives and continuous amendments, instead of comprehensive campaign finance reform.
						</p>
					</li>
					<li>
						<h3>Japan</h3>
						<p class="sub-header">Find more in the <a href="">PDF</a>/<a href="">Book</a></p>
						<p>
							Japan changed its political finance regime in the early-1990s in response to public pressure surrounding corruption scandals. The introduction of public subsidies, stricter disclosure requirements and increased contribution and spending limits have strengthened political competition, cut electoral costs, and produced more party-centered campaigns. 
						</p>
					</li>
					<li>
						<h3>Mexico</h3>
						<p class="sub-header">Find more in the <a href="">PDF</a></p>
						<p>
							Mexico combines generous public funding with relatively low campaign spending limits, leading to a situation in which some parties receive more funding than they can spend legally. The contemporary regulatory system is reactive and ad-hoc and it has been amended several times in response to allegations of electoral fraud.
						</p>
					</li>
					<li>
						<h3>Russia</h3>
						<p class="sub-header">Find more in the <a href="">PDF</a>/<a href="">Book</a></p>
						<p>
							Russia’s laws combine public funding as a major source of party income, with strict disclosure requirements, rigid enforcement, and a limited role of private donations. In practice, however, regulations stifle political competition. Instead of increasing the quality of Russia’s democracy, this system has thereby entrenched electoral authoritarianism.
						</p>
					</li>
					
				</ul>
				<ul class="columns small-12 medium-5 small-offset-1 medium-offset-0 casestudies end">
					<li>
						<h3>South Africa</h3>
						<p class="sub-header">Find more in the <a href="">PDF</a>/<a href="">Book</a></p>
						<p>
							Many of South Africa’s corruption problems stem from a failure to regulate private flows of money into politics. The absence of effective reform and lack of regulation of private donations has created an uneven playing field for political parties during elections, which benefits the governing parties and resists reform.
						</p>
					</li>
					<li>
						<h3>Sweden</h3>
						<p class="sub-header">Find more in the <a href="">PDF</a>/<a href="">Book</a></p>
						<p>
							Sweden’s political finance is loosely regulated. It combines generous state subsidies for political parties with minimal state intervention in political party affairs. Parties are not required to register as organizations and, until 2014, they were free to raise and spend funds without accountability.  Nevertheless deeply-entrenched informal rules in Swedish culture mean that the system appears to work well in preventing corruption scandals.
						</p>
					</li>
					<li>
						<h3>United States</h3>
						<p class="sub-header">Find more in the <a href="">PDF</a>/<a href="">Book</a></p>
						<p>
							The United States has deregulated its system of political finance, where the judiciary has invalidated regulations approved by the executive and legislative branches of government. This has led to the growing influence of third party actors on candidates, political parties, and election campaigns and ever-expanding campaign war-chests by candidates.
						</p>
					</li>
					<li>
						<h3>Brazil</h3>
						<p class="sub-header">Find more in the <a href="">Book</a></p>
						<p>
							Brazil established its current political finance regime in the mid-1990s, reforming regulations intended to limit political competition during the 1964-1985 military rule. Lawmakers increased state subsidies, lifted bans on corporate funding, established advanced reporting systems, and rationalized campaign finance management. Recent years have seen increasing demands for further reform to address corruption and regulate private donations. 
						</p>
					</li>
					<li>
						<h3>Indonesia</h3>
						<p class="sub-header">Find more in the <a href="">Book</a></p>
						<p>
							Indonesia upholds the illusion of an effective regulatory regime, but transgressions are either ignored or collectively tolerated by political actors and law enforcement agencies alike. The 2005 reforms significantly reduced public funding, tightened disclosure rules and increased sanctions, but failed to address enforcement and oversight. The increase in regulation led to its effective deregulation, and this dysfunctional system is deliberately maintained.
						</p>
					</li>
				</ul>
		</div>
	</section>
	</div>
{% endblock %}