{% extends "base.html" %}

{% block content_title %}Case Studies{% endblock %}

{% block content %}
	<div class="row">
		<div class="small-10 small-centered columns">
			<p>
			One of the most important findings of the global expert survey on Perceptions of Electoral Integrity is that, indeed, campaign finance is a problem. The study generates 49 indicators to compare elections and countries around the globe. In fact, the annual survey has covered the opinion of 855 experts for 73 national parliamentary and presidential contests in 66 countries from 1 July 2012 to 31 December 2013.
			</p>
			<p>
			Once the 49 indicators are clustered into the eleven United Nation’s stages of the electoral cycle, campaign finance is the worst of all the election stages.
			</p>
			<figure class="full-width">
				<img src="/static/img/casestudies_barchart_1.png">
				<figcaption>Graph of something</figcaption>
			</figure>
			<p>
				When analyzing the respective country scores on campaign finance around the world there are important differences. Which are the determinants of ‘good’ campaign finance? A first glance would indicate that development is a key element but there are very important exceptions to this claim such as Bhutan.
			</p>
			<img src="/static/img/casestudies_barchart_2.png">
			<p>
				Those two snapshots inspire the research in two ways. The first one on what and why is it on campaign finance that performs worst? The second, what can we do to solve it? More formally, which are the lessons we can learn from ‘successful’ campaign finance reform cases?
			</p>
		</div>
	</div>
{% endblock %}