{% extends "base.html" %}

{% block content_title %}Case Studies{% endblock %}

{% block content %}
	<div class="row page-content clearfix">
		<div class="small-10 small-centered columns clearfix">
			<p>
				Before-and-after case studies will be selected of major reforms to political finance regulations implemented during the last decade. Studies will focus on successful policies designed to improve disclosure rules, regulate financial caps, or implement to public subsidies.   Case studies will address the following questions:
			</p>
			<ul>
				<li>What worked, and what has failed,  in attempts to regulate money in politics and why?</li>

				<li>Who were the champions of money-in-politics reforms and why were they willing to push forchange?</li>

				<li>What was the impact of these policies on accountability and transparency, public confidence, and citizen engagement?</li>
			</ul>
			<p>
				Look to this page for reports on our case studies as well as the final results.
			</p>
		</div>
	</div>
{% endblock %}