{% extends "base.html" %}

{% block content_title %}Contact{% endblock %}

{% block content %}
	<div class="row page-content clearfix">
		<div class="small-10 small-centered columns">
			<form action="/contact" method="post">
				<div class="row">
					<div class="medium-3 columns">
						<label for="mpt-email" class=" inline">What are you asking?</label>
					</div>
					<div class="medium-9 columns">
					<select id="mpt-issue" name="issue">
							<option value="data">Questions about data</option>
							<option value="casestudies">Questions about case studies</option>
							<option value="declaration">Questions about the Declaration</option>
							<option value="resources">Contribute to the resources page</option>
							<option value="other">Other</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="medium-3 columns">
						<label for="mpt-email" class=" inline">Your email address</label>
					</div>
					<div class="medium-9 columns">
						<input type="text" id="mpt-email" name="email" placeholder="Your email address" />
					</div>
				</div>
				<div class="row">
					<div class="medium-3 columns">
						<label for="mpt-comment" class=" inline">What are you thinking?</label>
					</div>
					<div class="medium-9 columns">
						<textarea id="mpt-comment" name="message" placeholder="What are you thinking?"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="small-9 small-offset-3 end columns">
						<button>Submit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}