{% extends "base.html" %}

{% block body_class %}home{% endblock %}

{% block content_area %}
	<div class="hero">
		<div class="row">
			<div class="small-10 medium-8 small-centered columns mission">
				<div class="row">
					<h2 class="medium-4 large-4 columns intro"><em>Money, Politics and Transparency</em> </br>is dedicated to improving political finance transparency around the globe.</h2>
					<p class="medium-8 large-8 columns extended-intro">
						The Money, Politics and Transparency Project will provide a forum to share best (and worst) practices, reform efforts, in-depth research, analysis, and case studies to a network of global actors, ultimately co-creating a set of transparency norms that can be used by stakeholders to improve political finance systems in their own countries, fostering accountability and combating corruption.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="mpt-social-banner">
		<div class="row">
			<ul class="follow small-10 medium-6 small-centered columns">
				<li class="small-6 columns"><a href="" class="small button twitter">Twitter</a></li>
				<li class="small-6 columns"><a href="" class="small button facebook">Facebook</a></li>
			</ul>
		</div>
		<div class="row">
			<div class="large-12 columns mpt-tweets">
				<div class="medium-4 columns twitter">
					<p>follow <a href="">@moneypolitics</a></p>
				</div>
				<div class="medium-8 columns tweet">
						<p>To the end of times and new beginnings! @EllnMllr says farewell to @SunFoundation and hello to retirement. sunlightfoundation.com/blog…</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns community-tweets">
				<div class="medium-4 columns">
					<h4 class="twitter">Speak up!</h4>
					<p>Join the conversation with <a href="">#MoneyPolitics</a></p>
				</div>
				<div class="medium-8 columns">
					<div class="medium-6 columns community-tweet">
						<p>To the end of times and new beginnings! @EllnMllr says farewell to @SunFoundation and hello to retirement. sunlightfoundation.com/blog…</p>
					</div>
					<div class="medium-6 columns community-tweet">
						<p>To the end of times and new beginnings! @EllnMllr says farewell to @SunFoundation and hello to retirement. sunlightfoundation.com/blog…</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<div class="blog">
				<article>
					<header>
						<p class="date">March 23, 2014</p>
						<h1>Blog post title is longer than just the first three words in this text </h1>
						<p class="author">By <a href="">Sunlight Foundation</a>'s Lisa Rosenberg</p>
					</header>
					<div class="post content small-10 small-centered columns">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.
						</p>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.
						</p>
						<a class="readmore" href="">read the full post</a>
					</div>
				</article>
			</div>
		</div>
	</div>
{% endblock %}
