{% extends "base.html" %}

{% block body_class %}home{% endblock %}

{% block content_area %}
	<div class="hero">
		<div class="row">
			<div class="small-10 medium-8 small-centered columns mission">
				<div class="row">
					<h2 class="medium-4 large-4 columns intro"><em>Money, Politics and Transparency</em> </br>is dedicated to improving political finance transparency around the globe.</h2>
					<p class="medium-8 large-8 columns extended-intro">
						Money, Politics and Transparency will provide a forum to share best (and worst) practices, reform efforts, in-depth research, analysis, and case studies to a network of global actors, ultimately co-creating a set of transparency norms that can be used by stakeholders to improve political finance systems in their own countries, fostering accountability and combating corruption.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="mpt-social-banner">
		<div class="row">
			<ul class="follow small-10 medium-6 small-centered columns">
				<li class="small-6 columns"><a href="https://twitter.com/intent/tweet?related=MPTransparency&amp;url={{ "http://moneypoliticstransparency.org"|urlencode }}&amp;text={{ "Dedicated to improving political finance transparency around the globe"|urlencode }}" class="small button twitter">Share on Twitter</a></li>
				<li class="small-6 columns"><a href="#" class="small button facebook">Like on Facebook</a></li>
			</ul>
		</div>
		<div class="row">
			<div class="large-12 columns mpt-tweets">
				<div class="medium-4 columns twitter">
					<p>follow <a href="http://twitter.com/MPTransparency">@MPTransparency</a></p>
				</div>
				<div class="medium-8 columns tweet">
					{% for tweet in mpt_tweets %}
						<p>
							{{ tweet|pretweet|safe }}
							<br>
							<a href="https://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id_str }}">
								<small>{{ tweet|created_at('%-d %B %Y %-I:%M %p %Z') }}</small>
							</a>
						</p>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns community-tweets">
				<div class="medium-4 columns">
					<h4 class="twitter">Speak up!</h4>
					<p>Join the conversation with <a href="https://twitter.com/search?q=%23politicalmoney&amp;src=hash">#politicalmoney</a> <a href="https://twitter.com/search?q=%23globalmoneypolitics&amp;src=hash">#GlobalMoneyPolitics</a> <a href="https://twitter.com/search?q=%23moneypoliticstransparency&amp;src=hash">#MoneyPoliticsTransparency</a></p>
				</div>
				<div class="medium-8 columns">
					{% for tweet in tag_tweets %}
						<div class="medium-6 columns community-tweet">
							<p>
								<a href="https://twitter.com/{{ tweet.user.screen_name }}">@{{ tweet.user.screen_name }}</a>
								<br>
								{{ tweet|pretweet|safe }}
							</p>
							<p>
								<a href="https://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id_str }}">
									{{ tweet|created_at('%-d %B %Y %-I:%M %p %Z') }}
								</a>
							</p>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<div class="blog">
				{% for post in posts %}
					<article>
						<header>
							<p class="date">{{ post.published_parsed.strftime('%B %-d, %Y') }}</p>
							<h1><a href="{{ post.link }}">{{ post.title }}</a></h1>
							<p class="author">By {{ post.author }} of {{ post.feed }}</p>
						</header>
						<div class="post content small-10 small-centered columns">
							<p>{{ post.summary|pretreat|striptags|truncate(600) }}</p>
							<a class="readmore" href="{{ post.link }}">read the full post</a>
						</div>
					</article>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
