{% extends "base.html" %}

{% block content_title %}Networking{% endblock %}

{% block content %}
	<div class="row page-content clearfix">
			<div class="row">
				<div class="small-12 medium-7 medium-offset-1 columns get-involved">
					<aside class="feature">
						<h5>Join the Money, Politics and Transparency team at the <a target="_blank" href="http://www.moneyinpolitics.info/">Global Conference on Money in Politics hosted by International IDEA in Mexico City on September 3-5, 2015.</a></h5>
					</aside>
					<h3>Get Involved</h3>
					<p>
						The Money, Politics and Transparency Project is intended to provide an opportunity for advocates, researchers, party officials, regulators, journalists and others to collaborate and network on issues related to political finance transparency.   To receive updates and join in discussions please:
					</p>
					<ul>
						<li>
							Join the Money, Politics and Transparency <a href="https://groups.google.com/forum/#!forum/money-politics-transparency">Google Group</a>.
						</li>
						<li class="twitter color">
							Follow <a href="https://twitter.com/MPTransparency">@MPTransparency</a>
						</li>
						<li>
							<a href="/contact">Contact us</a> about contribution to the creation of political finance transparency norms.
						</li>
					</ul>
				</div>
				<div class="small-12 medium-3 columns end">
					<h4>Related Organizations</h4>
					<ul class="mpt-related-orgs">
						<li><a href="http://sunlightfoundation.com/">Sunlight Foundation</a></li>
						<li><a href="http://www.globalintegrity.org/">Global Integrity</a></li>
						<li><a href="http://www.electoralintegrityproject.com/">Electoral Integrity Project</a></li>
					</ul>
				</div>
			</div>
			{% if upcoming_events %}
				<div class="row">
					<h3 class="small-10 small-centered columns">Events</h3>
					<div class="small-12 small-offset-0 medium-10 medium-offset-1 large-4 large-offset-1 columns end event next">
						{% with event = upcoming_events[0] %}
							<dl class="event-details">
								<dt class="date">Date</dt>
								<dd class="date">{{ event.start.strftime('%B %-d, %Y') }}</dd>
								<dt class="title">{{ event.title }}</dt>
								<dd class="title">
									{% if event.url %}
										<a href="{{ event.url }}">{{ event.title }}</a>
									{% else %}
										{{ event.title }}
									{% endif %}
								</dd>
								<dt class="location">Location</dt>
								<dd class="location">{{ event.location }}</dd>
								{% if event.url %}
									<dt class="eventlink">Full event details</dt>
									<dd class="eventlink">
										<a href="{{ event.url }}">Event details</a>
									</dd>
								{% endif %}
							</dl>
						{% endwith %}
					</div>
					{% if upcoming_count > 1 %}
						<div class="large-6 small-12 medium-10 medium-offset-1 large-offset-0 columns end next-other">
							<div class="large-6 columns event">
								{% with event = upcoming_events[1] %}
									<dl class="event-details">
										<dt class="date">Date</dt>
										<dd class="date">{{ event.start.strftime('%B %-d, %Y') }}</dd>
										<dt class="title">{{ event.title }}</dt>
										<dd class="title">
											{% if event.url %}
												<a href="{{ event.url }}">{{ event.title }}</a>
											{% else %}
												{{ event.title }}
											{% endif %}
										</dd>
										<dt class="location">Location</dt>
										<dd class="location">{{ event.location }}</dd>
										{% if event.url %}
											<dt class="eventlink">Full event details</dt>
											<dd class="eventlink">
												<a href="{{ event.url }}">Event details</a>
											</dd>
										{% endif %}
									</dl>
							{% endwith %}
							</div>
							{% if upcoming_count > 2 %}
								<div class="large-6 columns end event">
									{% with event = upcoming_events[2] %}
										<dl class="event-details">
											<dt class="date">Date</dt>
											<dd class="date">{{ event.start.strftime('%B %-d, %Y') }}</dd>
											<dt class="title">{{ event.title }}</dt>
											<dd class="title">
												{% if event.url %}
													<a href="{{ event.url }}">{{ event.title }}</a>
												{% else %}
													{{ event.title }}
												{% endif %}
											</dd>
											<dt class="location">Location</dt>
											<dd class="location">{{ event.location }}</dd>
											{% if event.url %}
												<dt class="eventlink">Full event details</dt>
												<dd class="eventlink">
													<a href="{{ event.url }}">Event details</a>
												</dd>
											{% endif %}
										</dl>
									{% endwith %}
								</div>
							{% endif %}
						</div>
					{% endif %}
				</div>
				{% if upcoming_count > 3 %}
					<div class="row more-events">
						<div class="small-10 small-centered columns">
							<h4>More events</h4>
							<ul class="small-12 medium-block-grid-2 large-block-grid-3">
								{% for event in upcoming_events[3:] %}
									<li class="event">
										<dl class="event-details">
											<dt class="date">
												Date
											</dt>
											<dd class="date">
												{{ event.start.strftime('%B %-d, %Y') }}
											</dd>
											<dt class="title">
												{{ event.title }}
											</dt>
											<dd class="title">
												{% if event.url %}
													<a href="{{ event.url }}">{{ event.title }}</a>
												{% else %}
													{{ event.title }}
												{% endif %}
											</dd>
											{#
											<dt class="venue">
												Venue
											</dt>
											<dd class="venue">
												@Hartford Public Library
											</dd>
											#}
											<dt class="location">
												Location
											</dt>
											<dd class="location">
												{{ event.location }}
											</dd>
											{#
											<dt class="host">
												Hosted by
											</dt>
											<dd class="host">
												Connecticut Data Collaborative
											</dd>
											#}
											{% if event.url %}
												<dt class="eventlink">
													Full event details
												</dt>
												<dd class="eventlink">
													<a href="{{ event.url }}">Event details</a>
												</dd>
											{% endif %}
										</dl>
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				{% endif %}
			{% endif %}
		</div>
	</div>
{% endblock %}