{% extends "base.html" %}

{% block content_title %}Networking{% endblock %}

{% block content %}
	<div class="row page-content clearfix">
			<div class="row">
				<div class="small-12 medium-7 medium-offset-1 columns get-involved">
					<h3>Get Involved</h3>
					<p>
						The Money, Politics and Transparency Project is intended to provide an opportunity for advocates, researchers, party officials, regulators, journalists and others to collaborate and network on issues related to political finance transparency.   To receive updates and join in discussions please:
					</p>
					<ul>
						<li>
							Join the Money, Politics and Transparency <a href="https://groups.google.com/a/sunlightfoundation.com/forum/#!forum/money-politics-transparency">Google Group</a>.
						</li>
						<li class="twitter color">
							Follow <a href="https://twitter.com/MPTransparency">@MPTransparency</a>
						</li>
						<li>
							<a href="/contact">Contact us</a> about contribution to the creation of political finance transparency norms.
						</li>
					</ul>
				</div>
				<div class="small-12 medium-3 columns end">
					<h4>Related Organizations</h4>
					<ul class="mpt-related-orgs">
						<li><a href="http://sunlightfoundation.com/">Sunlight Foundation</a></li>
						<li><a href="http://www.globalintegrity.org/">Global Integrity</a></li>
						<li><a href="http://www.electoralintegrityproject.com/">Electoral Integrity Project</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<h3 class="small-10 small-centered columns">Events</h3>
				<div class="small-12 small-offset-0 medium-10 medium-offset-1 large-4 large-offset-1 columns end event next">
					<dl class="event-details">
						<dt class="date">
							Date
						</dt>
						<dd class="date">
							April 12, 2014
						</dd>
						<dt class="title">
							Title
						</dt>
						<dd class="title">
							<a href="http://ctdata.org/">Connecticut Forum on Open Data</a>
						</dd>
						<dt class="venue">
							Venue
						</dt>
						<dd class="venue">
							@Hartford Public Library
						</dd>

						<dt class="location">
							Location
						</dt>
						<dt class="host">
							Hosted by
						</dt>
						<dd class="host">
							Connecticut Data Collaborative
						</dd>
						<dt class="eventlink">
							Full event details
						</dt>
						<dd class="eventlink">
							<a href="">Event details</a>
						</dd>
					</dl>
				</div>
				<div class="large-6 small-12 medium-10 medium-offset-1 large-offset-0 columns end next-other">
					<div class="large-6 columns event">
						<dl class="event-details">
							<dt class="date">
								Date
							</dt>
							<dd class="date">
								April 12, 2014
							</dd>
							<dt class="title">
								Title
							</dt>
							<dd class="title">
								<a href="http://ctdata.org/">Connecticut Forum on Open Data</a>
							</dd>
							<dt class="venue">
								Venue
							</dt>
							<dd class="venue">
								@Hartford Public Library
							</dd>

							<dt class="location">
								Location
							</dt>
							<dt class="host">
								Hosted by
							</dt>
							<dd class="host">
								Connecticut Data Collaborative
							</dd>
							<dt class="eventlink">
								Full event details
							</dt>
							<dd class="eventlink">
								<a href="">Event details</a>
							</dd>
						</dl>
					</div>
					<div class="large-6 columns end event">
						<dl class="event-details">
							<dt class="date">
								Date
							</dt>
							<dd class="date">
								April 12, 2014
							</dd>
							<dt class="title">
								Title
							</dt>
							<dd class="title">
								<a href="http://ctdata.org/">Connecticut Forum on Open Data</a>
							</dd>
							<dt class="venue">
								Venue
							</dt>
							<dd class="venue">
								@Hartford Public Library
							</dd>

							<dt class="location">
								Location
							</dt>
							<dt class="host">
								Hosted by
							</dt>
							<dd class="host">
								Connecticut Data Collaborative
							</dd>
							<dt class="eventlink">
								Full event details
							</dt>
							<dd class="eventlink">
								<a href="">Event details</a>
							</dd>
						</dl>
					</div>
				</div>
			</div>
			<div class="row more-events">
				<div class="small-10 small-centered columns">
					<h4>More events</h4>
					<ul class="small-12 medium-block-grid-2 large-block-grid-3">
						<li class="event">
							<dl class="event-details">
								<dt class="date">
									Date
								</dt>
								<dd class="date">
									April 12, 2014
								</dd>
								<dt class="title">
									Title
								</dt>
								<dd class="title">
									<a href="http://ctdata.org/">Connecticut Forum on Open Data</a>
								</dd>
								<dt class="venue">
									Venue
								</dt>
								<dd class="venue">
									@Hartford Public Library
								</dd>

								<dt class="location">
									Location
								</dt>
								<dt class="host">
									Hosted by
								</dt>
								<dd class="host">
									Connecticut Data Collaborative
								</dd>
								<dt class="eventlink">
									Full event details
								</dt>
								<dd class="eventlink">
									<a href="">Event details</a>
								</dd>
							</dl>
						</li>
						<li class="event">
							<dl class="event-details">
								<dt class="date">
									Date
								</dt>
								<dd class="date">
									April 12, 2014
								</dd>
								<dt class="title">
									Title
								</dt>
								<dd class="title">
									<a href="http://ctdata.org/">Connecticut Forum on Open Data</a>
								</dd>
								<dt class="venue">
									Venue
								</dt>
								<dd class="venue">
									@Hartford Public Library
								</dd>

								<dt class="location">
									Location
								</dt>
								<dt class="host">
									Hosted by
								</dt>
								<dd class="host">
									Connecticut Data Collaborative
								</dd>
								<dt class="eventlink">
									Full event details
								</dt>
								<dd class="eventlink">
									<a href="">Event details</a>
								</dd>
							</dl>
						</li>
						<li class="event">
							<dl class="event-details">
								<dt class="date">
									Date
								</dt>
								<dd class="date">
									April 12, 2014
								</dd>
								<dt class="title">
									Title
								</dt>
								<dd class="title">
									<a href="http://ctdata.org/">Connecticut Forum on Open Data</a>
								</dd>
								<dt class="venue">
									Venue
								</dt>
								<dd class="venue">
									@Hartford Public Library
								</dd>

								<dt class="location">
									Location
								</dt>
								<dt class="host">
									Hosted by
								</dt>
								<dd class="host">
									Connecticut Data Collaborative
								</dd>
								<dt class="eventlink">
									Full event details
								</dt>
								<dd class="eventlink">
									<a href="">Event details</a>
								</dd>
							</dl>
						</li>
						<li class="event">
							<dl class="event-details">
								<dt class="date">
									Date
								</dt>
								<dd class="date">
									April 12, 2014
								</dd>
								<dt class="title">
									Title
								</dt>
								<dd class="title">
									<a href="http://ctdata.org/">Connecticut Forum on Open Data</a>
								</dd>
								<dt class="venue">
									Venue
								</dt>
								<dd class="venue">
									@Hartford Public Library
								</dd>

								<dt class="location">
									Location
								</dt>
								<dt class="host">
									Hosted by
								</dt>
								<dd class="host">
									Connecticut Data Collaborative
								</dd>
								<dt class="eventlink">
									Full event details
								</dt>
								<dd class="eventlink">
									<a href="">Event details</a>
								</dd>
							</dl>
						</li>
						<li class="event">
							<dl class="event-details">
								<dt class="date">
									Date
								</dt>
								<dd class="date">
									April 12, 2014
								</dd>
								<dt class="title">
									Title
								</dt>
								<dd class="title">
									<a href="http://ctdata.org/">Connecticut Forum on Open Data</a>
								</dd>
								<dt class="venue">
									Venue
								</dt>
								<dd class="venue">
									@Hartford Public Library
								</dd>

								<dt class="location">
									Location
								</dt>
								<dt class="host">
									Hosted by
								</dt>
								<dd class="host">
									Connecticut Data Collaborative
								</dd>
								<dt class="eventlink">
									Full event details
								</dt>
								<dd class="eventlink">
									<a href="">Event details</a>
								</dd>
							</dl>
						</li>
						<li class="event">
							<dl class="event-details">
								<dt class="date">
									Date
								</dt>
								<dd class="date">
									April 12, 2014
								</dd>
								<dt class="title">
									Title
								</dt>
								<dd class="title">
									<a href="http://ctdata.org/">Connecticut Forum on Open Data</a>
								</dd>
								<dt class="venue">
									Venue
								</dt>
								<dd class="venue">
									@Hartford Public Library
								</dd>

								<dt class="location">
									Location
								</dt>
								<dt class="host">
									Hosted by
								</dt>
								<dd class="host">
									Connecticut Data Collaborative
								</dd>
								<dt class="eventlink">
									Full event details
								</dt>
								<dd class="eventlink">
									<a href="">Event details</a>
								</dd>
							</dl>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}