{% extends "base.html" %}

{% block content_title %}Networking{% endblock %}

{% block content %}
	<div class="row">
			<div class="small-7 small-offset-1 columns get-involved">
				<h3>Get Involved</h3>
				<p>
					The Money, Politics and Transparency Project is intended to provide an opportunity for advocates, researchers, party officials, regulators, journalists, and others to collaborate and network on issues related to political finance transparency.   To receive updates and join in discussions please:
				</p>
				<p>
					Join the Money, Politics and Transparency <a href="">Google Group</a>.
				</p>
				<p class="twitter">
					Follow <a href="">@MoneyPolitics</a>
				</p>
				<p>
					<a href="">Contact us</a> about contribution to the creation of political finance transparency norms.
				</p>
			</div>
			<div class="small-3 columns end">
				<h4>Related Organizations</h4>
				<ul class="mpt-related-orgs">
					<li><a href="http://sunlightfoundation.com/">Sunlight Foundation</a></li>
					<li><a href="http://www.globalintegrity.org/">Global Integrity</a></li>
					<li><a href="http://www.electoralintegrityproject.com/">Electoral Integrity Project</a></li>
				</ul>
			</div>
	</div>
	<div class="row">
		<h3 class="small-10 small-centered columns">Events</h3>
		<div class="small-4 small-offset-1 columns event next">
				<dl class="event-details">
					<dt class="date">
						Date
					</dt>
					<dd class="date">
						April 12, 2014
					</dd>
					<dt class="title">
						Title
					</dt>
					<dd class="title">
						<a href="http://ctdata.org/">Connecticut Forum on Open Data</a>
					</dd>
					<dt class="venue">
						Venue
					</dt>
					<dd class="venue">
						@Hartford Public Library
					</dd>

					<dt class="location">
						Location
					</dt>
					<dt class="host">
						Hosted by
					</dt>
					<dd class="host">
						Connecticut Data Collaborative
					</dd>
				</dl>
		</div>
		<div class="small-3 columns event next-other">
				<dl class="event-details">
					<dt class="date">
						Date
					</dt>
					<dd class="date">
						April 12, 2014
					</dd>
					<dt class="title">
						Title
					</dt>
					<dd class="title">
						<a href="http://ctdata.org/">Connecticut Forum on Open Data</a>
					</dd>
					<dt class="venue">
						Venue
					</dt>
					<dd class="venue">
						@Hartford Public Library
					</dd>

					<dt class="location">
						Location
					</dt>
					<dt class="host">
						Hosted by
					</dt>
					<dd class="host">
						Connecticut Data Collaborative
					</dd>
				</dl>
		</div>
		<div class="small-3 columns end event next-other">
				<dl class="event-details">
					<dt class="date">
						Date
					</dt>
					<dd class="date">
						April 12, 2014
					</dd>
					<dt class="title">
						Title
					</dt>
					<dd class="title">
						<a href="http://ctdata.org/">Connecticut Forum on Open Data</a>
					</dd>
					<dt class="venue">
						Venue
					</dt>
					<dd class="venue">
						@Hartford Public Library
					</dd>

					<dt class="location">
						Location
					</dt>
					<dt class="host">
						Hosted by
					</dt>
					<dd class="host">
						Connecticut Data Collaborative
					</dd>
				</dl>
		</div>
	</div>
	<div class="row">
		<div class="small-10 small-centered columns">
			<h4>More events</h4>
			<ul>
				<li>
				</li>
			</ul>
			<h5>Past events</h5>
				<ul>
					<li>
					</li>
				</ul>
		</div>
	</div>
{% endblock %}