{% extends "base.html" %}

{% block content_title %}Norms{% endblock %}

{% block content %}
	<div class="row page-content clearfix">
		<div class="small-10 small-centered columns">
			<div class="editable" data-key="norms_intro">
				{{ content.norms_intro|safe }}
				{#
				<p>As awareness of the links between money, politics, policy and corruption grow, so will the demand for political finance transparency.To contribute to the debate and development of sound transparency politics, the Money, Politics and Transparency project will offer a set of draft political finance transparency norms, co-created in a transparent fashion by global stakeholders. Mutually agreed upon political finance transparency norms will provide advocates, legislators and regulators with a baseline by which they can compare their own countries’ political finance transparency regime and make improvements to it. Stay tuned for more on the creation of political finance transparency norms.</p>
				#}
			</div>
		</div>
	</div>
{% endblock %}