{% extends "base.html" %}

{% block content_title %}Declaration{% endblock %}

{% block content %}
	<div class="row page-content clearfix">
		<div class="small-10 small-centered medium-7 medium-uncentered medium-offset-1 columns clearfix">
			
			<p>Establishing a more equitable, transparent and inclusive political system is a long-term process that may require compromise on one or more normative dimensions. One should not expect to see immediate impact of legal reforms on societal outcomes such as corruption or voter confidence in the political process.</p>
			<p>During the last decade, landmark revisions have most often served to boost transparency to counter the risks of corruption, and provide resources to allow parties to deal with rising campaign costs and falling revenue from membership and voluntary fundraising, without relying solely on private donations.</p> 
			<p>Theory, case studies and empirics conclude that there is no single ‘right’ mix of policies that fits countries with diverse institutional, cultural and economic parameters. The combinations of regulations that any country should adopt will depend on contextual factors, such as political culture and enforcement capacity.</p> 
		</div>
		<aside class="small-10 small-centered medium-uncentered medium-4 columns clearfix feature">
			<div class="">
				<div>
					<h4><a href="">Comment on the norms</a></h4>
					<p>
						Purchase the edited volume ‘Checkbook Elections’ to read about regulating money in politics, and access the full country case-studies. 
					</p>
				</div>
			</div>
			<div class="">
				<div>
					<h4><a href="">Get more context</a></h4>
					<p>
						Download the summary report to access abridged versions of the book chapters on regulating money in politics and country case-studies. 
					</p>
				</div>
			</div>
		</aside>
	
	<section>
		<div class="small-12 columns">
			<div class="row">
				<div class="mpt-resources-header clearfix">
					<header>
						<br><h1>The norms...</h1><br>
					</header>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="small-10 small-offset-1 columns">
				<iframe src="https://docs.google.com/document/d/1-cNx9G51ug3DvvSv_7yOQAJl5qOBE82jkQRXGwGevB0/pub?embedded=true"></iframe>
			</div>
		</div>
	</section>
	</div>
{% endblock %}