{% extends "base.html" %}

{% block content_title %}Declaration on the Openness of Political Finance{% endblock %}

{% block content %}
	<div class="row page-content clearfix">
		<div class="small-10 small-centered medium-7 medium-uncentered medium-offset-1 columns clearfix">
			
			<p>Public trust in political parties is low worldwide and, often, the cynical belief that the relationships between money and elections will inevitably be corrupt seems rampant. Although there is much work to be done, there’s unlimited potential for progress. This is why having a strong, diverse and global community dedicated to this issue is essential to generating change.</p>

			<p>The Declaration on the Openness of Political Finance is intended to build consensus on the interests of the diverse community of people monitoring political finance -- CSOs, journalists, academics and, even, civic hackers -- and propose an affirmative vision for what we believe an open and accountable political finance system looks like. The Declaration will ultimately be a platform for the reform community, presenting ideals by which these groups can rally behind and that advocates can present to political parties and government officials to support their campaigns for reform.</p>

			<p>We believe that the Declaration on the Openness of Political Finance will only be as strong as the community behind it. In this vein, we are opening up the document for a public comment period to ensure that the Declaration truly encompasses the widest range of perspectives. We look forward to hearing from you.</p> 
		</div>
		<aside class="small-10 small-centered medium-uncentered medium-4 columns clearfix feature">
			<div class="">
				<div>
					<h4><a href="">Comment on the Declaration on the Openness of Political Finance</a></h4>
					<p>
						Provide your feedback on the Declaration on the Openness of Political Finance
					</p>
				</div>
			</div>
			<div class="">
				<div>
					<h4><a href="">Get more context</a></h4>
					<p>
						The accompanying Provision Commentary to the Declaration on the Openness of Political Finance, including background and best practices, will be available in Fall 2015. 
					</p>
				</div>
			</div>
		</aside>
	
	<section>
		<div class="small-12 columns">
			<div class="row">
				<div class="mpt-resources-header clearfix">
					<header>
						<br><h1>Declaration on the Openness of Political Finance</h1><br>
					</header>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="small-10 small-offset-1 columns">
				<iframe src="https://docs.google.com/document/d/1-cNx9G51ug3DvvSv_7yOQAJl5qOBE82jkQRXGwGevB0/pub?embedded=true"></iframe>
			</div>
		</div>
	</section>
	</div>
{% endblock %}