{% extends "base.html" %}

{% block content_title %}Resources{% endblock %}

{% block content %}
	<div class="row page-content clearfix">
		<div class="mpt-resources-content">

		{% if user.is_admin %}
			<div class="small-12 columns">
				<div class="row">
					<section class="mpt-resources-header clearfix">
						<header>
							<br><h1>Global Resources Exploring the Influence of Money, Politics and Influence</h1><br>
						</header>
					</section>
				</div>
			</div>

			<div class="mpt-resources-section-1-container">
	        	<ul class="cols-3">
					<li>
						<a href="http://adhawk.sunlightfoundation.com/" target="_blank">Ad Hawk</a><br>
						<span class="country-name">Hungary</span><br>
						<p>This mobile app is a product of the <a href="http://sunlightfoundation.com/" target="_blank">Sunlight Foundation</a> that aggregates data on political ads from a variety of sources and allows users to identify who is backing ads in an attempt to influence the vote.</p>
					</li>
					<li>
						<a href="http://ahalo.hu/" target="_blank">ahalo.hu</a><br>
						<span class="country-name">Hungary</span><br>
						<p>This searchable database of individuals, institutions and subsidies is a joint-project by K-Monitor, Transparency International Hungary and partners for the Association for Human Rights that brings greater transparency in public spending and decision-making in Hungary.</p>
					</li>
					<li>
						<a href="http://dineroypolitica.org/" target="_blank">Dinero y Política</a><br>
						<span class="country-name">Argentina</span><br>
						<p>An initiative of <a href="http://www.poderciudadano.org/" target="_blank">Poder Ciudadano Foundation</a>, Dinero y Politica, is an online database which aggregates political finance data from 23 different provincial databases and 713 recognized political parties to help others investigate and make meaningful comparisons on influence..</p>
						</li>
					<li>
						<a href="http://kepmutatas.hu/kampanymonitor/" target="_blank">Hypocrisy Campaign</a><br>
						<span class="country-name">Hungary</span><br>
						<p>A joint initiative of Hungarian NGOs to monitor the campaigns of the main political parties during the 2014 parliamentary election and to share the information with the wider public on estimated costs of campaigns through a real-time repository of collected data.</p>
					</li>
					<li>
						<a href="http://influenceexplorer.com" target="_blank">Influence Explorer</a><br>
						<span class="country-name">USA</span><br>
						<p>Influence Explorer provides an overview of campaign finance, lobbying, earmark, contractor misconduct and federal spending data in the US. Influence Explorer is a project of the <a href="http://sunlightfoundation.com/" target="_blank">Sunlight Foundation</a>.</p>
					</li>
					<li>
						<a href="http://www.inspectordeintereses.cl/" target="_blank">Inspector de Intereses</a><br>
						<span class="country-name">Hungary</span><br>
						<p>This Fundacion Ciudadano Inteligente project lets citizens and journalists cross-reference data on Chilean members of parliament with potential conflicts of interest depending on their policy area and economic interests.</p>
					</li>
					<li>
						<a href="http://openduka.org/" target="_blank">Open Duka</a><br>
						<span class="country-name">Kenya</span><br>
						<p>Open Duka, a project of the <a href="http://www.openinstitute.com/" target="_blank">Open Institute</a>, maps relationships from various sources, including shareholder, procurement and company data to help citizens, journalists, and civic activists understand the ownership structure of Kenyan entities.</p>
					</li>
					<li>
						<a href="http://openinterests.eu/" target="_blank">Open Interests</a><br>
						<span class="country-name">EU</span><br>
						<p>Open Interests explores the relationship between lobbying, expert consultations, public expenditure and procurement in the EU. The project mines and aggregates bulk data from a variety of sources about key actors and their policy agendas.</p>
					</li>
					<li>
						<a href="http://www.opensecrets.org/" target="_blank">Open Secrets</a><br>
						<span class="country-name">USA</span><br>
						<p>OpenSecrets.org is the <a href="https://www.opensecrets.org/" target="_blank">Center for Responsive Politics’</a> website that tracks the influence of money on US politics, and how that money affects policy and citizens' lives.</p>
					</li>
					<li>
						<a href="http://www.poderopedia.org/" target="_blank">Poderopedia</a><br>
						<span class="country-name">Chile</span><br>
						<p>This collaborative platform uses data visualization and technology to help citizens understand the relationships between people, companies and organizations that influence policy in Chile, Colombia and Venezuela.</p>
					</li>
					<li>
						<a href="http://transparency.ge/en/blog/which-corporations-are-connected-which-political-parties" target="_blank">Political Finance Monitoring Project of Transparency International Georgia</a><br>
						<span class="country-name">Georgia</span><br>
						<p>An on-going effort to monitor the contributions, spending and activities of political parties and campaigns through data collection and advocacy.</p>
					</li>
					<li>
						<a href="http://politicalpartytime.org/" target="_blank">Political Party Time</a><br>
						<span class="country-name">USA</span><br>
						<p>Political Party Time, a product of the Sunlight Foundation, uses crowdsourced data to document the political fundraising circuit in the US.</p>
						</li>
					<li>
						<a href="http://quienmanda.es/" target="_blank">Quién Manda</a><br>
						<span class="country-name">Spain</span><br>
						<p>Quién Manda, a project by <a href="http://www.civio.es/en/" target="_blank">Civio</a>, is a map of political and economic power in Spain, that combines data research, photographs and investigative journalism to document a network of the most influential people in the country.</p>
					</li>
				</ul>
			</div>

			<div class="small-12 columns">
				<section class="mpt-resources-header clearfix">
					<header>
						<h1>Webinar Series Exploring Political Finance Transparency</h1>
						<p><a href="http://training.sunlightfoundation.com/ti-webinar/" target="_blank">Enhancing Transparency in Political Finance with Technology<br> (Sunlight Foundation and Transparency Internal)</a></p>
					</header>
				</section>
			</div>

			<div class="small-offset-1 columns small-10 clearfix">
				<ul class="mpt-resources-section-2-container small-block-grid-1 medium-block-grid-2 large-block-grid-2 columns small-12">
					<li id="video-elements-1" class="small-6">
						<a href="https://www.youtube.com/watch?v=ck_EvJLMOr8" target="_blank">
							<img id="video-1" src="http://127.0.0.1:8000/static/img/img-1.jpg"/>
						</a>
						<div class="video-box">
							<p class="video-title">Political Finance in the Digital Age: How can accountability be enhanced by technology and open data?<br>
							<span class="date">February 11,2014</span></p>

							<a href="https://docs.google.com/presentation/d/1xysqJjGIIjoXvVXy82h4gGEXEPyKAaqbI-crX1_Zob0" target="_blank">
								<div class="link-box">
									<span class="video-link">View Webinar Slides</span>
								</div>
							</a>
						</div>
					</li>

					<li id="video-elements-2" class="small-6">
						<a href="https://www.youtube.com/watch?v=zVfOY3IuFrI" target="_blank">
							<img id="video-2" src="http://127.0.0.1:8000/static/img/img-2.jpg"/>
						</a>
	  					<div class="video-box">
							<p class="video-title">How can the transparency of political finance be enhanced when we don't have reliable government data?<br>
								<span class="date">March 11,2014</span>
							</p>

							<a href="https://docs.google.com/presentation/d/1YwuoyLHyIAegeuz1MjlIfz7tycK1qRHpa25Ec3wVjU0" target="_blank">
								<div class="link-box">
									<span class="video-link">View Webinar Slides</span>
								</div>
							</a>
						</div>
					</li>

					<li id="video-elements-3" class="small-6">
						<a href="https://www.youtube.com/watch?v=JTcf7bJ-aPo" target="_blank">
							<img id="video-3" src="http://127.0.0.1:8000/static/img/img-3.jpg"/>
						</a>
	  					<div class="video-box">
							<p class="video-title">Beyond government: How can you inject political finance information in your life and why should anyone care? What's next?<br>
								<span class="date">April 15,2014</span>
							</p>

							<a href="https://docs.google.com/presentation/d/13N4IHQCbtl69AaNtWKLaCx7n6DKdvtHPyMmkGdSM9r4/edit" target="_blank">
								<div class="link-box">
									<span class="video-link">View Webinar Slides</span>
								</div>
							</a>
						</div>
					</li>
				</ul>
			</div>



				<div class="row">
					<div class="small-12 columns">
						<section class="mpt-resources-header clearfix">
							<header>
								<br><h1>Studies and Recommendations on Political Finance Transparency</h1><br>
							</header>
						</section>
					</div>
				</div>

			<div class="mpt-resources-section-3-container">
				<h4>Global</h4>
				<ul class="cols-2 mpt-resources-column">
					<li>
						<a href="http://books.google.com/books?id=l0skkxoHKTkC&pg=PA1&dq=if+money+talks+what+does+it+say&hl=en&sa=X&ei=wNBfU-OSBpDKsQTR6YCgDA&ved=0CCsQ6AEwAA#v=onepage&q=if money talks what does it say&f=false" target="_blank">If Money Talks, What Does it Say?: Corruption and Business Financing of Political Parties</a><br>
						<span class="country-name">Iain McMenamin, 2013</span><br>
						<p>Based on intensive case studies of Australia, Canada and Germany, this book places business financing of political parties in the contexts of debates about political corruption.</p>
					</li>
					<li>
						<a href="http://www.google.com/url?q=http%3A%2F%2Fwww.accessdemocracy.org%2Ffiles%2F1848_polpart_moneyinpolitics_010105_full_text.pdf&sa=D&sntz=1&usg=AFQjCNFp45367Q_okblK6JRIFG6CDMaEDw" target="_blank">Money in Politics: A Study of Party Financing Practices in 22 Countries</a><br>
						<span class="country-name"><a href="http://www.google.com/url?q=http%3A%2F%2Fndi.org&sa=D&sntz=1&usg=AFQjCNFYy0NxVcS1owgUNB_ZxzTbOSE-Aw" target="_blank">National Democratic Institute, 2005</a></span>
						<p>An in-depth comparison of party financing and corruption across 22 countries.</p>
					</li>
					<li>
						<a href="http://www.opensocietyfoundations.org/sites/default/files/Handbook_in_full.pdf" target="_blank">Monitoring Election Campaign Finance: A Handbook for NGOs</a><br>
						<span class="country-name"><a href="http://www.opensocietyfoundations.org/" target="_blank">Open Society Foundations, 2005</a></span>
						<p>A handbook with several case studies and strategies for effectively monitoring parties and candidates financing.</p>
					</li>
					<li>
						<a href="http://www.google.com/url?q=http%3A%2F%2Fwww.transparency-initiative.org%2Fwp-content%2Fuploads%2F2011%2F09%2FOpening-Government.pdf&sa=D&sntz=1&usg=AFQjCNEcSCiTrRn5_q5foy-QlsVPEzsyvg" target="_blank">Opening Government: A Guide to Best Practice in Transparency, Accountability and Civic Engagement Across the Public Sector</a><br>
						<span class="country-name"><a href="http://www.google.com/url?q=http%3A%2F%2Fwww.transparency-initiative.org%2F&sa=D&sntz=1&usg=AFQjCNFYgGOD-sskoppzogYO7zuST8UcLQ" target="_blank">Transparency and Accountability Initiative, 2011</a></span>
						<p>A guide to best practice in transparency, accountability and civic engagement across the public sector.</p>
					</li>
					<li>
						<a href="http://www.google.com/url?q=http%3A%2F%2Fwww.oecd.org%2Fabout%2Fmembersandpartners%2Fpublicaffairs%2FTransparency%2520and%2520Integrity%2520in%2520Political%2520Finance.pdf&sa=D&sntz=1&usg=AFQjCNEohOcBp2SViA-6DqdDTHkY4xFoeQ" target="_blank">Transparency and Integrity in Political Finance<br></a>
						<span class="country-name"><a href="http://www.google.com/url?q=http%3A%2F%2Fwww.oecd.org%2F&sa=D&sntz=1&usg=AFQjCNGjFmwggE2d9hgSHqUnW_eTZ98oog" target="_blank">Organisation for Economic Co-operation and Development (OECD), 2012</a></span>
						<p>A analysis of trends in political finance regulations in its Member countries, making recommendations for best practices.</p>
					</li>
				</ul>

				<h4>Europe</h4>
				<ul class="cols-2 mpt-resources-column">
					<li>
						<a href="http://www.google.com/url?q=http%3A%2F%2Fwww.coe.int%2Ft%2Fdghl%2Fmonitoring%2Fgreco%2Fgeneral%2FDOUBLET_EN.pdf&sa=D&sntz=1&usg=AFQjCNGxOmSwQ7FUaww4Tdc-MrI38LfCvw" target="_blank">Fighting Corruption: Political Funding</a><br>
						<span class="country-name"><a href="http://www.google.com/url?q=http%3A%2F%2Fwww.coe.int%2Fgreco&sa=D&sntz=1&usg=AFQjCNHbUtnBtM5ZJ5rF4V3CWyAyhbMbog" target="_blank">Council of Europe’s Group of States against corruption (GRECO)</a></span>
						<p>The Council of Europe’s Group of States Against Corruption (GRECO) evaluates the transparency of political party funding in Europe and draws general lessons. </p>
					</li>
					<li>
						<a href="http://www.google.com/url?q=http%3A%2F%2Fwww.transparency.org%2Fwhatwedo%2Fpub%2Fpolicy_position_no._01_2009_standards_on_political_funding_and_favours&sa=D&sntz=1&usg=AFQjCNH013Da054yCEM2DqriXvxXnyMk2g" target="_blank">Policy Position: Standards on Political Funding and Favours</a><br>
						<span class="country-name"><a href="http://www.google.com/url?q=http%3A%2F%2Fwww.transparency.org%2F&sa=D&sntz=1&usg=AFQjCNHcsTbnUYxqXK0DU9DlPVLr9ylnPQ" target="_blank">Transparency International, 2009</a></span>
						<p>Policy standards to ensure that elected politicians make decisions in the broader public interest and not to the benefit of those that funded their ascent to power.</p>
					</li>
					<li>
						<a href="http://www.transparency.org/whatwedo/pub/2012_regional_policy_paper_2_political_party_integrity_more_accountable_mor" target="_blank">Political Party Integrity: More Accountable, More Democratic</a><br>
						<span class="country-name"><a href="http://www.google.com/url?q=http%3A%2F%2Fwww.transparency.org%2F&sa=D&sntz=1&usg=AFQjCNHcsTbnUYxqXK0DU9DlPVLr9ylnPQ" target="_blank">Transparency International, 2012</a></span>
						<p>A discussion of how transparency can help respond to integrity deficits in political parties.</p>
					</li>
					<li>
						<a href="http://www.coe.int/t/dghl/monitoring/greco/general/Rec(2003)4_EN.pdf" target="_blank">Recommendations of the Committee of Ministers to Member states</a><br>
						<span class="country-name"><a href="http://www.google.com/url?q=http%3A%2F%2Fhub.coe.int%2F&sa=D&sntz=1&usg=AFQjCNFOfwBWg3kah_L84UsQrs7jpLt7xw" target="_blank">Council of Europe, 2003</a></span>
						<p>The <a href="http://www.google.com/url?q=http%3A%2F%2Fhub.coe.int%2F&sa=D&sntz=1&usg=AFQjCNFOfwBWg3kah_L84UsQrs7jpLt7xw" target="_blank">Council of Europe</a> puts forth recommendations to combat corruption in the funding of political parties and electoral campaigns.</p>
					</li>
				</ul>
				<h4>Asia</h4>
				<ul class="cols-2 mpt-resources-column">
					<li>
						<a href="http://transparency.org.my/media-and-publications/reforming-political-financing-publication/%20%20%20" target="_blank">Reforming Political Financing </a><br>
						<span class="country-name">Malaysia</span>
						<p>An examination of the impact of political finance in Malaysia.</p>
					</li>
				</ul>
				<h4>North America</h4>
				<ul class="cols-2 mpt-resources-column">
					<li>
						<a href="http://www.google.com/url?q=http%3A%2F%2Fscholarship.law.wm.edu%2Fcgi%2Fviewcontent.cgi%3Farticle%3D1585%26context%3Dwmborj&sa=D&sntz=1&usg=AFQjCNGMhargUsoO6waXszu1pphjdGlqfA" target="_blank">Campaign Disclosure, Privacy and Transparency</a><br>
						<span class="country-name">William and Mary Bill of Rights Journal, 2011, USA</span>
						<p>An examination of the tension between privacy and transparency in the US in the age of electronic reporting of campaign finance disclosure.</p>
					</li>
					<li>
						<a href="http://www.innovations.harvard.edu/cache/documents/11690.pdf" target="_blank">From the Public Interest to the Poisoned Subsidy? Public funding of political parties in democratizing countries</a><br>
						<span class="country-name">Harvard University, 2006, Mexico</span>
						<p>Using Mexico’s generously publicly-funded party system, this paper begins to address how public funding can affect electoral outcomes.</p>
					</li>
				</ul>
				<h4>South America</h4>
				<ul class="cols-2 mpt-resources-column">
					<li>
						<a href="http://www.oas.org/juridico/english/corr_bg.htm" target="_blank">Inter-American Convention Against Corruption</a><br>
						<p>These measures, adopted in 1996 in Venezuela, put forth a framework to prevent, detect, punish and eradicate corruption in the Americas.</p>
					</li>
				</ul>
				<h4>Africa</h4>
				<ul class="cols-2 mpt-resources-column">
					<li>
						<a href="http://www.google.com/url?q=http%3A%2F%2Fwww.achpr.org%2Finstruments%2Fguide-elections%2F&sa=D&sntz=1&usg=AFQjCNHRAHQUsD-9aebPMcSwARNZlzH7tw" target="_blank">Guidelines for African Union Electoral Observations and Monitoring Missions</a><br>
						<span class="country-name">African Commission on Human and People’s Rights</span>
						<p>These principles are intended to provide guidelines for African countries as they carry out and monitor democratic elections.</p>
					</li>
				</ul>
			</div>



			<div class="row">
				<div class="large-12 columns">
					<section class="mpt-resources-header clearfix">
						<header>
							<br><h1>Evaluating Regulations: Political Finance Databases</h1><br>
						</header>
					</section>
				</div>
			</div>

			<div class="mpt-resources-section-4-container">
				<ul class="cols-2">
					<li>
						<a href="https://www.google.com/url?q=https%3A%2F%2Fwww.globalintegrity.org%2Fglobal_year%2F2011%2F&sa=D&sntz=1&usg=AFQjCNH5L6tNDmv0rWfbeoUfambukPqR6Q" target="_blank">Global Integrity Report</a><br>
						<span class="country-name"><a href="https://www.google.com/url?q=https%3A%2F%2Fwww.globalintegrity.org%2F&sa=D&sntz=1&usg=AFQjCNHwug_ji9NcJPpJV9QoDZAx_arwOw" target="_blank">Global Integrity</a></span>
						<p>A periodic evaluation of transparency policies and implementation of these policies, including political finance, in countries all over the globe.</p>
					</li>
					<li>
						<a href="https://www.google.com/url?q=https%3A%2F%2Fwww.globalintegrity.org%2Fglobal-report%2Ffindings%2F%23money-in-politics&sa=D&sntz=1&usg=AFQjCNFTB45CBxj_eAYgRql9wa7PpDz_Bg" target="_blank">Key Findings from the Global Integrity Report</a><br>
						<span class="country-name"><a href="https://www.google.com/url?q=https%3A%2F%2Fwww.globalintegrity.org%2F&sa=D&sntz=1&usg=AFQjCNHwug_ji9NcJPpJV9QoDZAx_arwOw" target="_blank">Global Integrity</a></span>
						<p>A cross-country analysis of all data generated by the Global Integrity reports.</p>
					</li>
					<li>
						<a href="http://www.google.com/url?q=http%3A%2F%2Fwww.idea.int%2Fpolitical-finance%2Findex.cfm&sa=D&sntz=1&usg=AFQjCNHzmkHKxoJ-mZw2GBAPS8i6tE_IEg" target="_blank">Political Finance Database</a><br>
						<span class="country-name"><a href="http://www.google.com/url?q=http%3A%2F%2Fwww.idea.int%2F&sa=D&sntz=1&usg=AFQjCNFYlbx0kQQRxg0wehnWRVs0iewFeA" target="_blank">International Institute for Democracy and Electoral Assistance (IDEA)</a></span>
						<p>A comprehensive database on national political finance regulations from 180 countries.</p>
					</li>
					<li>
						<a href="http://www.idea.int/publications/political-finance-regulations/index.cfm" target="_blank">Political Finance Regulations Around the World</a><br>
						<span class="country-name"><a href="http://www.google.com/url?q=http%3A%2F%2Fwww.idea.int%2F&sa=D&sntz=1&usg=AFQjCNFYlbx0kQQRxg0wehnWRVs0iewFeA" target="_blank">International Institute for Democracy and Electoral Assistance (IDEA)</a></span>
						<p>An overview of the International IDEA Database, highlight key trends and correlations between political finance regulation and other variables.</p>
					</li>
				</ul>
			</div>

		{% else %}
			<div class="editable" data-key="intro">
				{{ content.intro|safe }}
			</div>
		{% endif %}
		</div>
	</div>
{% endblock %}