{% extends "base.html" %}

{% block content_title %}Resources{% endblock %}

{% block content %}
	<div class="row">
		<div class="small-10 small-centered columns">
			<div class="editable" data-key="intro">
				{{ content.intro|safe }}
				{#
				<p>The Money, Politics and Transparency Project will act as a centralized repository for important political finance transparency work being undertaken by others across the globe. Information about other organizations’ research, tools, success stories and occasional failures will be accessible here. Please contact us if you feel your organization has information that would be valuable to share with others.</p>
				#}
			</div>
		</div>
	</div>
{% endblock %}