{% extends "base.html" %}

{% block content_title %}Resources{% endblock %}

{% block content %}
	<div class="row page-content clearfix">
		<div class="mpt-resources-content">

		{% if true or user.is_admin %}
			<div class="small-10 small-centered columns">
				<div class="row">
					<p>
					Across the globe, numerous resources exist to shine a light on money, politics, access and influence. Even with limited data on purely political money—campaign contributions and expenditures—creative ways exist to better understand the influence industry. We urge you to let us know of any additional sources of information to include here.
					</p>
				</div>
			</div>
			<section>
				<div class="small-12 columns">
					<div class="row">
						<div class="mpt-resources-header clearfix">
							<header>
								<br><h1>Global Tools to Explore Money, Politics and Influence</h1><br>
							</header>
						</div>
					</div>
				</div>

				<div class="mpt-resources-section-1-container">
		        	<ul class="mpt-col-left columns small-12 medium-6">
						<li>
							<a href="http://adhawk.sunlightfoundation.com/" target="_blank">Ad Hawk</a><br>
							<span class="sub-header">USA</span><br>
							<p>This mobile app is a product of the <a href="http://sunlightfoundation.com/" target="_blank">Sunlight Foundation</a> that aggregates data on political ads from a variety of sources and allows users to identify who is backing ads in an attempt to influence the vote.</p>
						</li>
						<li>
							<a href="http://ahalo.hu/" target="_blank">aH&Aacute;L&Oacute;</a><br>
							<span class="sub-header">Hungary</span><br>
							<p>This searchable database of individuals, institutions and subsidies is a joint-project by <a href="http://k-monitor.hu" target="_blank">K-Monitor</a>, <a href="http://www.transparency.hu/en" target="_blank">Transparency International Hungary</a> and partners for the Association for Human Rights that brings greater transparency in public spending and decision-making in Hungary.</p>
						</li>
						<li>
							<a href="http://www.asclaras.org.br/" target="_blank">As Claras</a><br>
							<span class="sub-header">Brazil</span><br>
							<p>Run by <a href="http://www.transparencia.org.br/">Transparencia Brasil</a>, this website has a database on all political finance information in Brazil.</p>
						</li>
						<li>
							<a href="http://www.cnecuentasclaras.com/" target="_blank">Cuentas Claras</a><br>
							<span class="sub-header">Columbia</span><br>
							<p>Web-based tool with the support of <a href="http://www.cnecuentasclaras.com/">numerous groups</a>, Cuentas Claras is used to submit campaign finance information, and contains a searchable database of political finance information.</p>
						</li>
						<li>
							<a href="http://dineroypolitica.org/" target="_blank">Dinero y Política</a><br>
							<span class="sub-header">Argentina</span><br>
							<p>An initiative of <a href="http://www.poderciudadano.org/" target="_blank">Poder Ciudadano Foundation</a>, Dinero y Politica is an online database which aggregates political finance data from 23 different provincial databases and 713 recognized political parties to help others investigate and make meaningful comparisons on influence.</p>
						</li>
						<li>
							<a href="http://followthemoney.org" target="_blank"></a>FollowTheMoney.org<br>
							<span class="sub-header">USA</span><br>
							<p>FollowTheMoney.org, a project of the <a href="http://beta.followthemoney.org/">The National Institute on Money in State Politics</a> compiles political finance information in all 50 states, and makes it publicly available and searchable. </p>
						</li>
						<li>
							<a href="http://kepmutatas.hu/kampanymonitor/" target="_blank">Hypocrisy Campaign</a><br>
							<span class="sub-header">Hungary</span><br>
							<p>A joint initiative of <a href="http://www.transparency.hu/">Transparency International Hungary</a> and <a href="http://k-monitor.hu/ ">K-Monitor</a> to monitor the campaigns of the main political parties during the 2014 parliamentary election and to share the information with the wider public on estimated costs of campaigns through a real-time repository of collected data.</p>
						</li>
						<li>
							<a href="http://influenceexplorer.com" target="_blank">Influence Explorer</a><br>
							<span class="sub-header">USA</span><br>
							<p>Influence Explorer provides an overview of campaign finance, lobbying, earmark, contractor misconduct and federal spending data in the US. Influence Explorer is a project of the <a href="http://sunlightfoundation.com/" target="_blank">Sunlight Foundation</a>.</p>
						</li>
						<li>
							<a href="http://www.inspectordeintereses.cl/" target="_blank">Inspector de Intereses</a><br>
							<span class="sub-header">Chile</span><br>
							<p>This <a href="http://www.ciudadnointeligente.org" target="_blank">Fundacion Ciudadano Inteligente</a> project lets citizens and journalists cross-reference data on Chilean members of parliament with potential conflicts of interest depending on their policy area and economic interests.</p>
						</li>
						<li>
							<a href="http://maplight.org/" target="_blank">MAPLight</a><br>
							<span class="sub-header">USA</span><br>
							<p><a href="http://maplight.org/">MAPLight</a> provides journalists and citizens with transparency tools that connect data on campaign contributions, politicians, legislative votes, industries, companies, and more to show patterns of influence.</p>
						</li>
						<li>
							<a href="http://openduka.org/" target="_blank">Open Duka</a><br>
							<span class="sub-header">Kenya</span><br>
							<p>Open Duka, a project of the <a href="http://www.openinstitute.com/" target="_blank">Open Institute</a>, maps relationships from various sources, including shareholder, procurement and company data to help citizens, journalists, and civic activists understand the ownership structure of Kenyan entities.</p>
						</li>
						<li>
							<a href="http://spending.data.al/" target="_blank">Money, Government and Politics</a><br>
							<span class="sub-header">Albania</span><br>
							<p>The Albanian Institute of Sciences aims to provide access to visualizations and well-structured data on assets declarations, public assets and procurements, public spending data, fiscal data, electoral financing data and data on corporations financed by public funds to compare potential conflicts of interest over time.</p>
						</li>
					</ul>
					<ul class="mpt-col-right columns small-12 medium-6">
						<li>
							<a href="http://openinterests.eu/" target="_blank">Open Interests</a><br>
							<span class="sub-header">EU</span><br>
							<p><a href="http://openinterests.eu/about">Open Interests</a> explores the relationship between lobbying, expert consultations, public expenditure and procurement in the EU. The project mines and aggregates bulk data from a variety of sources about key actors and their policy agendas.</p>
						</li>
						<li>
							<a href="http://www.opensecrets.org/" target="_blank">Open Secrets</a><br>
							<span class="sub-header">USA</span><br>
							<p>OpenSecrets.org is the <a href="https://www.opensecrets.org/" target="_blank">Center for Responsive Politics’</a> website that tracks the influence of money on US politics, and how that money affects policy and citizens' lives.</p>
						</li>
						<li>
							<a href="http://www.partidostransparentes.cl/home" target="_blank">PartidosTransparentes</a><br>
							<span class="sub-header"></span>Chile<br>
							<p>A project of <a href="http://www.chiletransparente.cl/">Transparency International Chile</a>, PartidosTransparentes is an index that monitors and measures the transparency of Chilean political parties.</p>
						</li>
						<li>
							<a href="http://www.poderopedia.org/" target="_blank">Poderopedia</a><br>
							<span class="sub-header">Chile</span><br>
							<p>This <a href="http://www.poderopedia.org/poderopedia/pages/index/2">collaborative platform</a> uses data visualization and technology to help citizens understand the relationships between people, companies and organizations that influence policy in Chile, Colombia and Venezuela.</p>
						</li>
						<li>
							<a href="http://transparency.ge/en/blog/which-corporations-are-connected-which-political-parties" target="_blank">Political Finance Monitoring Project</a><br>
							<span class="sub-header">Georgia</span><br>
							<p><a href="http://transparency.ge/en/ ">Transparency International Georgia’s</a> on-going effort to monitor the contributions, spending and activities of political parties and campaigns through data collection and advocacy.</p>
						</li>
						<li>
							<a href="http://politicalpartytime.org/" target="_blank">Political Party Time</a><br>
							<span class="sub-header">USA</span><br>
							<p>Political Party Time, a product of the <a href="http://sunlightfoundation.com/" target="_blank">Sunlight Foundation</a>, uses crowdsourced data to document the political fundraising circuit in the US.</p>
						</li>
						<li>
							<a href="http://www.politickefinance.cz/en/" target="_blank">PolitickeFinance.cz</a><br>
							<span class="sub-header">Czech Republic</span><br>
							<p>PolitickeFinance.cz, by the <a target="_blank"href="http://cae.zindex.cz/en">Center for Applied Economics</a>, is a searchable database that visualizes donations made to parties and visualizes them in a user-friendly fashion.</p>
						</li>
						<li>
							<a href="http://www.andytow.com/blog/2014/04/16/el-precio-del-poder/" target="_blank">El Precio del Poder</a><br>
							<span class="sub-header">Argentina</span><br>
							<p>An <a href="http://www.andytow.com/blog/about">activist</a> uses officially published information to conduct a complex analysis of the characteristics of political financing in Argentina.</p>
						</li>
						<li>
							<a href="http://quienmanda.es/" target="_blank">Quién Manda</a><br>
							<span class="sub-header">Spain</span><br>
							<p>Quién Manda, a project by <a href="http://www.civio.es/en/" target="_blank">Civio</a>, is a map of political and economic power in Spain, that combines data research, photographs and investigative journalism to document a network of the most influential people in the country.</p>
						</li>
						<li>
							<a href="http://larutadeldinero.info/" target="_blank">La Ruta Del Dinero</a><br>
							<span class="sub-header">Argentina </span><br>
							<p>A group of <a href="http://hhlatam.org/">journalists and hackers</a> launched a contest to promote the use of data to track “ the route of public money,” and are using political finance data to create a searching and analysis tool for journalists. Though based in Argentina, there is also focus on Chile, Peru, Bogota, Mexico, and Miami among other countries and municipalities.</p>
						</li>
						<li>
							<a href="http://www.larutaelectoral.com.ar/#/" target="_blank">La Ruta Del Electoral</a><br>
							<span class="sub-header">Argentina </span><br>
							<p>La Ruta Electoral, a joint project from Poder Ciudadano, CIPPEC, LaNacion and Andy Tow, tracks and visualizes money donated to electoral campaigns from 2007 to 2013. It  displays information on an individual donor's record, but also aggregates this data to make meaningful conclusions about donations more generally.</p>
						</li>
						<li>
							<a href="http://www.sudestada.uy/10913/-Quien-paga#/" target="_blank">Who pays?</a><br>
							<span class="sub-header">Uruguay </span><br>
							<p>This political finance database, created by <a href="http://www.sudestada.uy/10877/Inicio">Sudestada.uy</a>, scrapes public records on political funding and visualizes them in a searchable database. Sudestada.uy blends this data with journalistic storytelling to reveal how political funding is shaping the political system.</p>
						</li>
						



						<li>
							<a href="" target="_blank"></a><br>
							<span class="sub-header"></span><br>
							<p></p>
						</li>
					</ul>
				</div>
			</section>
			<section>
				<div class="small-12 columns">
					<div class="mpt-resources-header clearfix">
						<header>
							<h1>Webinar Series Exploring Political Finance Transparency</h1>
							<p><a href="http://training.sunlightfoundation.com/ti-webinar/" target="_blank">Enhancing Transparency in Political Finance with Technology<br> (Sunlight Foundation and Transparency International)</a></p>
						</header>
					</div>
				</div>
				<div class="row">
					<div class="small-10 small-centered columns">
						<ul class="mpt-resources-section-2-container small-block-grid-1 medium-block-grid-2 large-block-grid-2 columns small-12">
							<li id="video-elements-1" class="small-6">
								<a href="https://www.youtube.com/watch?v=ck_EvJLMOr8" target="_blank">
									<img id="video-1" src="./static/img/video-img-1.jpg"/>
								</a>
								<div class="video-box">
									<p class="video-title">Political Finance in the Digital Age: How can accountability be enhanced by technology and open data?<br>
									<span class="date">February 11,2014</span></p>

									<a class="link-box" href="https://docs.google.com/presentation/d/1xysqJjGIIjoXvVXy82h4gGEXEPyKAaqbI-crX1_Zob0" target="_blank">
										<span class="video-link">View Webinar Slides</span>
									</a>
								</div>
							</li>

							<li id="video-elements-2" class="small-6">
								<a href="https://www.youtube.com/watch?v=zVfOY3IuFrI" target="_blank">
									<img id="video-2" src="./static/img/video-img-2.jpg"/>
								</a>
			  					<div class="video-box">
									<p class="video-title">How can the transparency of political finance be enhanced when we don't have reliable government data?<br>
										<span class="date">March 11,2014</span>
									</p>

									<a class="link-box" href="https://docs.google.com/presentation/d/1YwuoyLHyIAegeuz1MjlIfz7tycK1qRHpa25Ec3wVjU0" target="_blank">
										<span class="video-link">View Webinar Slides</span>
									</a>
								</div>
							</li>

							<li id="video-elements-3" class="small-6">
								<a href="https://www.youtube.com/watch?v=JTcf7bJ-aPo" target="_blank">
									<img id="video-3" src="./static/img/video-img-3.jpg"/>
								</a>
			  					<div class="video-box">
									<p class="video-title">Beyond government: How can you inject political finance information in your life and why should anyone care? What's next?<br>
										<span class="date">April 15,2014</span>
									</p>

									<a class="link-box" href="https://docs.google.com/presentation/d/13N4IHQCbtl69AaNtWKLaCx7n6DKdvtHPyMmkGdSM9r4/edit" target="_blank">
										<span class="video-link">View Webinar Slides</span>
									</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</section>

			<section>
				<div class="row">
					<div class="small-12 columns">
						<section class="mpt-resources-header clearfix">
							<header>
								<br><h1>Studies and Recommendations on Political Finance Transparency</h1><br>
							</header>
						</section>
					</div>
				</div>

				<div class="mpt-resources-section-3-container">
					<div class="region row">
						<h4 class="columns small-12">Global</h4>
						<ul class="mpt-col-left columns small-12 medium-6 mpt-resources-column">
							<li>
								<a href="http://books.google.com/books?id=l0skkxoHKTkC&pg=PA1&dq=if+money+talks+what+does+it+say&hl=en&sa=X&ei=wNBfU-OSBpDKsQTR6YCgDA&ved=0CCsQ6AEwAA#v=onepage&q=if money talks what does it say&f=false" target="_blank">If Money Talks, What Does it Say? Corruption and Business Financing of Political Parties</a><br>
								<span class="sub-header">Iain McMenamin, 2013</span><br>
								<p>Based on intensive case studies of Australia, Canada and Germany, this book places business financing of political parties in the contexts of debates about political corruption.</p>
							</li>
							<li>
								<a href="http://www.idea.int/publications/funding-of-political-parties-and-election-campaigns/index.cfm">The Funding of Political Parties and Election Campaigns: A Handbook on Political Finance</a><br>
								<span class="sub-header"><a href="http://www.idea.int/">International IDEA, 2014</a></span><br>
								<p>
								Addresses the problems of money in politics by analyzing political finance regulations around the world and providing guidance for reform.
								</p>
							</li>
							<li>
								<a href="http://www.google.com/url?q=http%3A%2F%2Fwww.accessdemocracy.org%2Ffiles%2F1848_polpart_moneyinpolitics_010105_full_text.pdf&sa=D&sntz=1&usg=AFQjCNFp45367Q_okblK6JRIFG6CDMaEDw" target="_blank">Money in Politics: A Study of Party Financing Practices in 22 Countries</a><br>
								<span class="sub-header"><a href="http://www.google.com/url?q=http%3A%2F%2Fndi.org&sa=D&sntz=1&usg=AFQjCNFYy0NxVcS1owgUNB_ZxzTbOSE-Aw" target="_blank">National Democratic Institute, 2005</a></span>
								<p>An in-depth comparison of party financing and corruption across 22 countries.</p>
							</li>
						</ul>
						<ul class="mpt-col-right columns small-12 medium-6 mpt-resources-column">
							<li>
								<a href="http://www.opensocietyfoundations.org/sites/default/files/Handbook_in_full.pdf" target="_blank">Monitoring Election Campaign Finance: A Handbook for NGOs</a><br>
								<span class="sub-header"><a href="http://www.opensocietyfoundations.org/" target="_blank">Open Society Foundations, 2005</a></span>
								<p>A handbook with several case studies and strategies for effectively monitoring parties and candidates financing.</p>
							</li>
							<li>
								<a href="http://www.google.com/url?q=http%3A%2F%2Fwww.transparency-initiative.org%2Fwp-content%2Fuploads%2F2011%2F09%2FOpening-Government.pdf&sa=D&sntz=1&usg=AFQjCNEcSCiTrRn5_q5foy-QlsVPEzsyvg" target="_blank">Opening Government: A Guide to Best Practice in Transparency, Accountability and Civic Engagement Across the Public Sector</a><br>
								<span class="sub-header"><a href="http://www.google.com/url?q=http%3A%2F%2Fwww.transparency-initiative.org%2F&sa=D&sntz=1&usg=AFQjCNFYgGOD-sskoppzogYO7zuST8UcLQ" target="_blank">Transparency and Accountability Initiative, 2011</a></span>
								<p>A guide to best practice in transparency, accountability and civic engagement across the public sector.</p>
							</li>
							<li>
								<a href="http://www.google.com/url?q=http%3A%2F%2Fwww.oecd.org%2Fabout%2Fmembersandpartners%2Fpublicaffairs%2FTransparency%2520and%2520Integrity%2520in%2520Political%2520Finance.pdf&sa=D&sntz=1&usg=AFQjCNEohOcBp2SViA-6DqdDTHkY4xFoeQ" target="_blank">Transparency and Integrity in Political Finance<br></a>
								<span class="sub-header"><a href="http://www.google.com/url?q=http%3A%2F%2Fwww.oecd.org%2F&sa=D&sntz=1&usg=AFQjCNGjFmwggE2d9hgSHqUnW_eTZ98oog" target="_blank">Organisation for Economic Co-operation and Development (OECD), 2012</a></span>
								<p>A analysis of trends in political finance regulations in its Member countries, making recommendations for best practices.</p>
							</li>
						</ul>
					</div>
					<div class="region row">
						<h4 class="columns small-12">Europe</h4>
						<ul class="mpt-col-left columns small-12 medium-6 mpt-resources-column">
							<li>
								<a href="http://www.google.com/url?q=http%3A%2F%2Fwww.coe.int%2Ft%2Fdghl%2Fmonitoring%2Fgreco%2Fgeneral%2FDOUBLET_EN.pdf&sa=D&sntz=1&usg=AFQjCNGxOmSwQ7FUaww4Tdc-MrI38LfCvw" target="_blank">Fighting Corruption: Political Funding</a><br>
								<span class="sub-header"><a href="http://www.google.com/url?q=http%3A%2F%2Fwww.coe.int%2Fgreco&sa=D&sntz=1&usg=AFQjCNHbUtnBtM5ZJ5rF4V3CWyAyhbMbog" target="_blank">Council of Europe’s Group of States against corruption (GRECO)</a></span>
								<p>The Council of Europe’s Group of States Against Corruption (GRECO) evaluates the transparency of political party funding in Europe and draws general lessons. </p>
							</li>
							<li>
								<a href="http://www.google.com/url?q=http%3A%2F%2Fwww.transparency.org%2Fwhatwedo%2Fpub%2Fpolicy_position_no._01_2009_standards_on_political_funding_and_favours&sa=D&sntz=1&usg=AFQjCNH013Da054yCEM2DqriXvxXnyMk2g" target="_blank">Policy Position: Standards on Political Funding and Favours</a><br>
								<span class="sub-header"><a href="http://www.google.com/url?q=http%3A%2F%2Fwww.transparency.org%2F&sa=D&sntz=1&usg=AFQjCNHcsTbnUYxqXK0DU9DlPVLr9ylnPQ" target="_blank">Transparency International, 2009</a></span>
								<p>Policy standards to ensure that elected politicians make decisions in the broader public interest and not to the benefit of those that funded their ascent to power.</p>
							</li>
							<li>
								<a href="http://rekonstrukcestatu.cz/publikace/the-funding-and-oversight-of-political-parties-and-election-campaigns-in-east-central-europe.pdf" target="_blank">The Funding and Oversight of Political Parties and Election Campaigns in East Central Europe</a><br>
								<span class="sub-header">Frank Bold, 2015</span>
								<p>Drawing upon three post-communist states—the Czech Republic, Slovakia, and Poland, this study presents a comparison of legislation surrounding political parties’ finances as well as quantitative and qualitative data on the practices of political campaigning within the region.</p>
							</li>
						</ul>
						<ul class="mpt-col-right columns small-12 medium-6 mpt-resources-column">
							<li>
								<a href="http://www.transparency.org/whatwedo/pub/2012_regional_policy_paper_2_political_party_integrity_more_accountable_mor" target="_blank">Political Party Integrity: More Accountable, More Democratic</a><br>
								<span class="sub-header"><a href="http://www.google.com/url?q=http%3A%2F%2Fwww.transparency.org%2F&sa=D&sntz=1&usg=AFQjCNHcsTbnUYxqXK0DU9DlPVLr9ylnPQ" target="_blank">Transparency International, 2012</a></span>
								<p>A discussion of how transparency can help respond to integrity deficits in political parties.</p>
							</li>
							<li>
								<a href="http://www.coe.int/t/dghl/monitoring/greco/general/Rec(2003)4_EN.pdf" target="_blank">Recommendations of the Committee of Ministers to Member states</a><br>
								<span class="sub-header"><a href="http://www.google.com/url?q=http%3A%2F%2Fhub.coe.int%2F&sa=D&sntz=1&usg=AFQjCNFOfwBWg3kah_L84UsQrs7jpLt7xw" target="_blank">Council of Europe, 2003</a></span>
								<p>The Council of Europe puts forth recommendations to combat corruption in the funding of political parties and electoral campaigns.</p>
							</li>
						</ul>
					</div>
					<div class="region row">
						<h4 class="columns small-12">Asia</h4>
						<ul class="mpt-col-left columns small-12 medium-6 mpt-resources-column end">
							<li>
								<a href="http://transparency.org.my/media-and-publications/reforming-political-financing-publication/%20%20%20" target="_blank">Reforming Political Financing </a><br>
								<span class="sub-header">Malaysia</span>
								<p>An examination of the impact of political finance reform in Malaysia.</p>
							</li>
						</ul>
					</div>
					<div class="region row">
						<h4 class="columns small-12">North America</h4>
						<ul class="mpt-col-left columns small-12 medium-6 mpt-resources-column">
							<li>
								<a href="http://www.google.com/url?q=http%3A%2F%2Fscholarship.law.wm.edu%2Fcgi%2Fviewcontent.cgi%3Farticle%3D1585%26context%3Dwmborj&sa=D&sntz=1&usg=AFQjCNGMhargUsoO6waXszu1pphjdGlqfA" target="_blank">Campaign Disclosure, Privacy and Transparency</a><br>
								<span class="sub-header">William and Mary Bill of Rights Journal, 2011, USA</span>
								<p>An examination of the tension between privacy and transparency in the US in the age of electronic reporting of campaign finance disclosure.</p>
							</li>
						</ul>
						<ul class="mpt-col-right columns small-12 medium-6 mpt-resources-column">
							<li>
								<a href="http://www.innovations.harvard.edu/cache/documents/11690.pdf" target="_blank">From the Public Interest to the Poisoned Subsidy? Public funding of political parties in democratizing countries</a><br>
								<span class="sub-header">Harvard University, 2006, Mexico</span>
								<p>Using Mexico’s generously publicly-funded party system, this paper begins to address how public funding can affect electoral outcomes.</p>
							</li>
						</ul>
					</div>
					<div class="region row">
						<h4 class="columns small-12">South America</h4>
						<ul class="mpt-col-left columns small-12 medium-6 mpt-resources-column end">
							<li>
								<a href="http://www.oas.org/juridico/english/corr_bg.htm" target="_blank">Inter-American Convention Against Corruption</a><br>
								<p>These measures, adopted in 1996 in Venezuela, put forth a framework to prevent, detect, punish and eradicate corruption in the Americas.</p>
							</li>
						</ul>
					</div>
					<div class="region row">
						<h4 class="columns small-12">Africa</h4>
						<ul class="mpt-col-left columns ssmall-12 medium-6 mpt-resources-column end">
							<li>
								<a href="http://www.google.com/url?q=http%3A%2F%2Fwww.achpr.org%2Finstruments%2Fguide-elections%2F&sa=D&sntz=1&usg=AFQjCNHRAHQUsD-9aebPMcSwARNZlzH7tw" target="_blank">Guidelines for African Union Electoral Observations and Monitoring Missions</a><br>
								<span class="sub-header">African Commission on Human and People’s Rights</span>
								<p>These principles are intended to provide guidelines for African countries as they carry out and monitor democratic elections.</p>
							</li>
						</ul>
					</div>
				</div>
			</section>

			<section>
				<div class="row">
					<div class="large-12 columns">
						<div class="mpt-resources-header clearfix">
							<header>
								<br><h1>Evaluating Regulations: Political Finance Databases</h1><br>
							</header>
						</div>
					</div>
				</div>

				<div class="small-10 small-centered columns">
					<ul class="cols-2">
						<li>
							<a href="www.electoralintegrityproject.com " target="_blank">Perceptions of Electoral Integrity</a><br>
							<span class="sub-header"><a href="www.electoralintegrityproject.com " target="_blank">The Electoral Integrity Project</a></span>
							<p>This study includes data on campaign finance released every year for all presidential and parliamentary elections around the world.</p>
						</li>
						<li>
							<a href="https://www.google.com/url?q=https%3A%2F%2Fwww.globalintegrity.org%2Fglobal_year%2F2011%2F&sa=D&sntz=1&usg=AFQjCNH5L6tNDmv0rWfbeoUfambukPqR6Q" target="_blank">Global Integrity Report</a><br>
							<span class="sub-header"><a href="https://www.google.com/url?q=https%3A%2F%2Fwww.globalintegrity.org%2F&sa=D&sntz=1&usg=AFQjCNHwug_ji9NcJPpJV9QoDZAx_arwOw" target="_blank">Global Integrity</a></span>
							<p>A periodic evaluation of transparency policies and implementation of these policies, including political finance, in countries all over the globe.</p>
						</li>
						<li>
							<a href="https://www.google.com/url?q=https%3A%2F%2Fwww.globalintegrity.org%2Fglobal-report%2Ffindings%2F%23money-in-politics&sa=D&sntz=1&usg=AFQjCNFTB45CBxj_eAYgRql9wa7PpDz_Bg" target="_blank">Key Findings from the Global Integrity Report</a><br>
							<span class="sub-header"><a href="https://www.google.com/url?q=https%3A%2F%2Fwww.globalintegrity.org%2F&sa=D&sntz=1&usg=AFQjCNHwug_ji9NcJPpJV9QoDZAx_arwOw" target="_blank">Global Integrity</a></span>
							<p>A cross-country analysis of all data generated by the Global Integrity reports.</p>
						</li>
						<li>
							<a href="http://www.google.com/url?q=http%3A%2F%2Fwww.idea.int%2Fpolitical-finance%2Findex.cfm&sa=D&sntz=1&usg=AFQjCNHzmkHKxoJ-mZw2GBAPS8i6tE_IEg" target="_blank">Political Finance Database</a><br>
							<span class="sub-header"><a href="http://www.google.com/url?q=http%3A%2F%2Fwww.idea.int%2F&sa=D&sntz=1&usg=AFQjCNFYlbx0kQQRxg0wehnWRVs0iewFeA" target="_blank">International Institute for Democracy and Electoral Assistance (IDEA)</a></span>
							<p>A comprehensive database on national political finance regulations from 180 countries.</p>
						</li>
						<li>
							<a href="http://www.idea.int/publications/political-finance-regulations/index.cfm" target="_blank">Political Finance Regulations Around the World</a><br>
							<span class="sub-header"><a href="http://www.google.com/url?q=http%3A%2F%2Fwww.idea.int%2F&sa=D&sntz=1&usg=AFQjCNFYlbx0kQQRxg0wehnWRVs0iewFeA" target="_blank">International Institute for Democracy and Electoral Assistance (IDEA)</a></span>
							<p>An overview of the International IDEA Database, highlight key trends and correlations between political finance regulation and other variables.</p>
						</li>

					</ul>
				</div>
			</section>

			{% else %}
				<div class="editable" data-key="intro">
					{{ content.intro|safe }}
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}